[2015-03-09 15:32] jzaefferer opened #771 "HTML reporter regression: Failed test display messed up"
Looks like bc9dfd3392cd073cbabafd42ffe4fccfac3db131 (from #737) caused a regression in the HTML reporter when showing failed tests. Here's QUnit's testsuite with two failing tests before the change:

![...](http://bassistance.de/i/56739b.png)

Here's the same testsuite with the same failures after the change:

![...](http://bassistance.de/i/4be56e.png)

/cc @insin since you wrote #737, could you t

[2015-03-09 15:44] jzaefferer commented on #664
Work in progresS: #769

[2015-03-09 15:45] jzaefferer commented on #672
@shivamdixit I don't think they're still working on this, you're welcome to look into this and send a PR.

[2015-03-09 15:54] jzaefferer commented on #554
Btw. there's no need to ask people to review a PR just after you've sent it. Watchers of the repo get notifications anyway.

[2015-03-09 16:45] jzaefferer commented on #766
I'm pretty sure we've had previous discussions about this, but I can't find any of the tickets. Would be great if someone could try to dig through closed tickets. It would surely help to remember what method name was proposed before...

[2015-03-09 16:55] jzaefferer commented on #765
CommonJS doesn't matter, so "compatibility with CommonJS" shouldn't be a priority for us.

As for the suggested change, its a common design in other test frameworks, which is a good argument for adopting it. From my point of view its also a user-hostile limitation that we should continue to ignore.

[2015-03-09 16:56] scottgonzalez commented on #766
#496?

[2015-03-09 16:57] jzaefferer commented on #531
@asped08 you should check out https://github.com/js-reporters/js-reporters - starting with the readme there, then going into the open issues, there's plenty to read.

[2015-03-09 16:58] jzaefferer commented on #766
Yep, thanks. Since that is open, let's continue the discussion there.

[2015-03-09 16:58] #766 closed

[2015-03-09 18:15] shivamdixit commented on #740
Is it fine if I restore:

[code]

and in `reporter/html.js` setUrl() definition, make a call to above function to remove redundancy?

[2015-03-09 18:28] leobalter commented on #766
I wasn't able to find #496 before. Thanks.

[2015-03-09 18:36] leobalter commented on #496
As on #766 and now I'm bringing the conversation here, I proposed the implementation of `QUnit.only`

Previous arguments were:

@JamesMGreene asked a very reasonable question:

 - Run multiple (makes the name `only` feel a little weird but not unreasonable)
 - Run the first one but log a special global assertion failure for any additional instances
 - Don't run any of them and log a special global

[2015-03-09 18:39] leobalter commented on #740
As this is used exclusively at the reporter, I would put this at the reporter. Basically you would need to set it here: https://github.com/jquery/qunit/commit/d86d6c38991a82e2c534eacc03dd10eac1ca1e69#diff-5b7e94e2a10b848c4ae4b539388f86aeR269

[2015-03-09 19:22] leobalter commented on #765
As the #767 is in the process, I'm already solving the final issue I wanted to solve with this before, which is something to test the failing assertions.

After some time rethinking about the exceptions, QUnit is indeed good to not do it, as it doesn't need to be like every other frameworks.

[2015-03-09 19:22] #765 closed

[2015-03-09 22:45] BraulioVM commented on #411
@Krinkle I started working on a patch for this, I hope you don't mind (I just wanted to contribute fixing a bug and saw that this one was open yet).

I started implementing a fix considering what Krinkle said in his first comment in this issue, but while I was writing tests for the new propEqual method I realised that I was not actually sure about what the method should return in certain cases. Fo

[2015-03-10 11:20] jzaefferer commented on #740
We should keep in mind that the reason for "bringing this back" is the qunit-notifications projects, which already [implemented a workaround](https://github.com/dockyard/qunit-notifications/commit/44fd5456d94cc5d8aac298df7af3bde285531d88). Bringing `QUnit.url` back in a minor release, only to remove it again in 2.0.0 seems pretty pointless, since qunit-notifications likely would just have to stick

[2015-03-10 19:18] gauravmittal1995 opened #774 "QUnit - Better diff output"
For the GSoC project "QUnit - Better diff output", what are the requirements and details??

Any other issues apart the ones mentioned in https://github.com/jquery/qunit/issues/364 ???

@leobalter @jzaefferer Please advice.

[2015-03-10 19:49] jzaefferer commented on #774
#364 is our meta ticket for the topic, that's definitely the best reference.

One thing not mentioned there, that came up with the recent PRs: We should have better tests for diffs. The ones you screenshotted in #764 are a good starting point. A visual test page (failing tests?) would be good for manual, visual verification. Automated tests that somehow prevent regressions would also help, maybe b

[2015-03-10 20:17] gauravmittal1995 commented on #774
@jzaefferer Do i make a proposal and put it on gist as well??

[2015-03-10 20:18] jzaefferer commented on #774
Sure, that way we can review it before the official submission process starts. Doesn't have to be a gist, anything you can share with us should work.

PS: One question mark is enough ;-)

[2015-03-10 20:20] gauravmittal1995 commented on #774
@jzaefferer Thanks :-D

[2015-03-10 23:27] gauravmittal1995 commented on #774
@jzaefferer @leobalter Hey, I have a doubt in the proposal. How do i make my timeline. I dont know how much time each task could take. How do i decide that?

[2015-03-11 01:03] shivamdixit commented on #364
Just wanted to know that what are the issues in using `jsdifflib` directly? If we directly import it as a module.

[2015-03-11 01:23] shivamdixit commented on #774
@jzaefferer I've two questions in my mind:

1. For the GSOC project do we need to improve the current diff algorithm of @jeresig or as the other tickets suggest that we can use some already existing libraries for diff?

2. If we are using already existing library I'm not sure why we should extract that module into standalone module (It's already there)?

Thanks.

[2015-03-11 01:57] BraulioVM opened #775 "Warning test authors?"
Reading #411 one can see that it might be sometimes necessary to warn test authors about what they might be doing wrong. After inspecting the codebase, I couldn't find any mechanism used in QUnit to do this useful task.

Facebook's react offers this functionality through the ````warning```` [function] (https://github.com/facebook/react/blob/4d9561d9385d6efa97f2e3ecdf5caad292611aa6/src/vendor/core/

[2015-03-11 03:40] amercier commented on #740
@jzaefferer I would be happy to rollback our workaround and use QUnit's API instead since it's not DRY. However, I'm not aware of QUnit's chamber secrets regarding v2. If a lot of this are going to change and `QUnit.url` make no sense in v2 world, then it's pointless to rollback this change (which wasn't officially part of the API in the first place anyway). Let's move forward.

[2015-03-11 11:57] jzaefferer commented on #740
Alright, thanks for chiming in! That confirms my guess that we need a long-term solution. Either we bring back `QUnit.url` and keep it, for we leave things as-is. Considering that the `generateQueryString` function you've added isn't exactly trivial, along with changes we keep making to generate URLs (like 01fcdd41eb7bbadc8c2783b25d746d49c69d945f), I vote for bringing back QUnit.url and documentin

[2015-03-11 12:05] jzaefferer commented on #775
It looks like React's warning function is mostly a wrapper around `console.warn`, with some project-specific baggage. Seems like something we could do when necessary. For the particular issue you point to, #411, it seems like that should be handled as a bug in QUnit, not as a bug in user code. If there are usecases where warnings are actually needed, I'm happy to review that as part of those issue

[2015-03-11 12:29] BraulioVM commented on #775
I'm sorry, what I meant citing #411 was not the issue itself but @Krinkle 's comment https://github.com/jquery/qunit/issues/411#issuecomment-17523633. He asserts that the user should be warned if a primitive value is passed to propEqual.

In addition to this, as I said, it could be great if the warning info was somehow shared with the reporter so that it was shown to the user no matter what enviro

[2015-03-11 12:46] jzaefferer commented on #774
@gauravmittal1995 take the time since you started your first PR to landing it (you may need to extrapolate that, since its still open). Then multiply that by two and you have a rough estimate. Or just guess. Or assume one week per task. Don't worry too much about it, time estimates are never something to stick strict deadlines to.

@shivamdixit check out #772, that should answer both your question

[2015-03-11 12:48] gauravmittal1995 commented on #774
@jzaefferer Thanks

[2015-03-11 12:48] jzaefferer commented on #775
Ah, gotcha. Though he wrote "perhaps". Probably the more important part was this: "But treating them as strings instead of objects would be masking an error by the test author. I'd like to get this removed from deepEqual as well.". Anyway, that discussion should happen in #411.

I currently don't see the need for a warning system. We should fix bugs in our code and treat issues in user code as fai

[2015-03-11 13:12] jzaefferer commented on #496
Would you also make any changes in the HTML reporter? Maybe a badge similar to the one for `QUnit.skip`?

As for the exclusiveness, would be good to check other implementations like Jasmine and Mocha.

[2015-03-11 14:10] #554 closed

[2015-03-11 15:03] amercier commented on #740
:+1:

[2015-03-11 16:05] settysreekanth opened #777 "Method call and returning error "Assertion after the final `assert.async` was resolved""
Hi, I am trying to test javascript method as below,

[code]

where `init()` internally calls an ajax service, however when I do this, I am getting below error. Can anybody help me in resolving this issue?

[code]

FYI - I am using QUnit-1.17.1

Thanks in advance

[2015-03-11 16:19] settysreekanth commented on #777
@jzaefferer  any suggestions from your side? thanks in advance...

[2015-03-11 17:51] JamesMGreene commented on #777
**Two notes:**
 1. That behavior by design (see #668 and #669 for discussion), though it still needs to be added to the documentation (see https://github.com/jquery/api.qunitjs.com/issues/91).
 2. You are not using this correctly. The `done` callback needs to be invoked _only_ after whatever asynchronous operation it is being used for has actually resolved (not just throwing it on the next line).

[2015-03-11 19:40] settysreekanth commented on #777
@JamesMGreene I am new to QUnit framework so I was not fully aware of Assert.async() api usage. Thanks for your response.

[2015-03-11 19:40] #777 closed

[2015-03-12 18:46] scottgonzalez opened #778 "Toolbar checkboxes and selects don't work in IE <9"
The page just reloads with the same URL.

[2015-03-13 09:56] #778 closed

[2015-03-16 08:55] jzaefferer opened #781 "Refactor test/ folder"
By now we have too many files in a single directory and its getting hard to find specific files when I don't know the exact name. We should refactor the `test/` folder.

I suggest moving files referenced from `index.html` into a `default/` folder (or some other name). The remaining files should be `.html` files with their matching `.js` test file. We can then see from there if we need other change

[2015-03-16 10:57] BraulioVM opened #782 "Splitting core.js into smaller components?"
Inspecting the source code, it's possible to see that core.js involves several independent components. We could split the file into several other files like:

* **core/utilities.js**: in which we could have functions like ````hasOwn```` or ````objectType````.
* **core/config.js**: in which we could have the ````config```` object.
* **core/reporter.js**: with the logging callbacks...

I think this

[2015-03-16 11:01] jzaefferer commented on #782
That sounds good, though I wonder if a `utilities.js` is a good idea - might as well split those functions into individual files.

[2015-03-16 11:22] jzaefferer commented on #672
Considering that `deepEqual` generally takes the constructor into account (while `propEqual` doesn't), I wonder if we should actually leave `deepEqual` as-is and adjust `propEqual` instead to deal with this. Any opinions? Would be good to figure that out soon, since #783 provides a PR for the behaviour that was discussed so far.

[2015-03-16 11:27] #693 closed

[2015-03-16 11:51] BraulioVM commented on #782
Do you mean having a one file for ````hasOwn````, one file for ````objectType```` and so on? Could you  please elaborate a bit more on that? I'm not sure I understand the point.

I do understand that having a file called ````utilities.js```` may not give any information about what it contains. Anyway, one file for each function seems to much (unless we put them inside a ````core/utilities```` dire

[2015-03-16 11:56] jzaefferer commented on #782
I guess it depends on the individual functions. `objectType` is long enough to justify its own file, but various other helpers in `core.js` aren't. Let's start with a `utilities` module for the short ones.

[2015-03-16 20:39] BraulioVM commented on #782
I'm working on a PR right now but I got some problems.

As I'm declaring variables in different files, jscsrc will complain every time it finds variable declaration made in several different places with the same scope. For example. if I declare ````config```` in ````core/config.js```` and ````QUnit```` in ````core/qunit.js````,  jscsrc will tell me I need to join var declarations

Any idea on how

[2015-03-17 03:30] shivamdixit commented on #483
@Krinkle If we move the `escapeText` call around the `diff()` call then the `<del>` and `<ins>` tags of diff are also escaped, because of which the output is all garbled.

[2015-03-17 10:02] jzaefferer commented on #483
@shivamdixit we should evaluate this issue in the context of using goodle-diff-patch-match (#772), since we're very likely moving to that diff implementation.

[2015-03-17 10:27] jzaefferer commented on #782
Yes, by dropping the `onevar` rule: 61fd7fe20f5b0d9e20fabd77831083fc42922dc9

Its a rather recent change in our style guide, most of our projects still use onevar. Now QUnit doesn't anymore, so that error should go away once you rebase.

[2015-03-17 10:33] jzaefferer commented on #782
Also had to update `.jscsrc`, since that also checked for `onvar`. Which is what you actually ran into. You've still got one failure from `jscs`, but that is a valid one.

[2015-03-17 11:37] shivamdixit commented on #483
Yup, I evaluated this issue in the context of using google-diff-patch-match library only.

[2015-03-17 12:20] jzaefferer commented on #483
Okay. Not sure if we still need this issue, might be invalid in this context. I'll leave it open for now, maybe @Krinkle can chime in. Let's focus on other issues until then.

[2015-03-17 14:22] jzaefferer opened #787 "Pendings tests"
Something that came out of a discussion with Yehuda: During a big refactoring they have hundreds of failing tests. They turned them off using `QUnit.skip`, but that doesn't tell them which of the skipped tests starting passing again at some point. To quickly test changes in passing tests, they ended up with this:

[code]

There's probably a better way to deal with that situation. One idea is to ha

[2015-03-17 14:23] wycats commented on #787
That sounds great to me. We'd use this!

[2015-03-17 14:24] wycats commented on #787
It could also be useful for tests that we expect to fail in all browsers, but which mark code that could be removed once browsers started implementing a feature. If we start to see the pending test "fail" in Saucelabs, it's time to investigate using the browser feature.

[2015-03-17 14:28] jzaefferer commented on #787
That's an interesting idea. In both cases this would be considered a "temporary" test, so I still think some visual highlight makes sense.

[2015-03-17 16:05] gibson042 commented on #787
This was touched on in the conversation that led to `QUnit.skip`.

Relevant excerpts:
https://github.com/jquery/qunit/issues/637#issuecomment-53917404

https://github.com/jquery/qunit/issues/637#issuecomment-53944341

https://github.com/jquery/qunit/issues/637#issuecomment-55893654 (@JamesMGreene)

----
All that covered, I'm totally behind this strategy:

[2015-03-17 16:14] leobalter commented on #787
qunit-pending from @JamesMGreene [works differently](https://github.com/JamesMGreene/qunit-pending/blob/master/qunit-pending.js) from this proposal, where a test without a function argument like `QUnit.test("works");` will become a `QUnit.skip`.

This issue proposes a test that contains at least one failing assertion. Rather than skipping them, they'll run all the assertions and it will FAIL when

[2015-03-17 17:31] gibson042 commented on #787
Noted and updated.

I also want to add more nuance to this:

A blind reversal like that is insufficient for general use, because it doesn't highlight what work still needs to happen. TODO failures are _still_ failures, they're just expected. This could manifest in a few different ways, but I think minimal changes require at least something like `failedAsExpected` in callback details (either double

[2015-03-18 15:36] leobalter opened #788 "improve grunt watch task"
In a private chat I saw @jzaefferer's will to improve speed on our grunt watch task.

Current options to try (not exclusive):

- grunt-contrib-watch [spawn and interrupt](https://github.com/gruntjs/grunt-contrib-watch#optionsspawn) options.
- [grunt-concurrent](https://www.npmjs.com/package/grunt-concurrent)
- [grunt-newer](https://www.npmjs.com/package/grunt-newer)

Some goals:
- grunt watch need

[2015-03-18 15:38] piranna opened #789 "Async module hooksy"
When needing to use some asynchronous setup, on QUnit 1.x you can be able to call to ```QUnit.stop()``` inside the module ```setup``` hook, but since in QUnit 2.0 it will be deprecated, seems there no posibility to do it. How could it be possible to have an async setup on QUnit 2.0?

[2015-03-18 15:42] leobalter commented on #789
[code]

[2015-03-18 15:45] piranna commented on #789
Thanks @leobalter, there's the same solution at http://stackoverflow.com/questions/27717784/qunit-beforeeach-aftereach-async, althought [the docs says nothing](http://api.qunitjs.com/QUnit.module/) about this... :-(

[2015-03-18 15:46] leobalter commented on #789
"and also to create properties that will be shared on the context of each test" and there's also an example there.

[2015-03-18 15:48] piranna commented on #789
I wanted to say that it says nothing about the ```assert``` argument on the ```beforeEach``` and ```afterEach``` hook functions...

[2015-03-18 16:04] leobalter commented on #789
Actually, there's an issue we just found: QUnit is not finishing the hook method because of the async call:

http://jsbin.com/dokolimuhi/1/edit?js,output

[2015-03-18 16:09] piranna commented on #789
Ok, then I think I'll wait until this is fixed.

[2015-03-18 16:30] leobalter commented on #789
The thing is, if we make assert.async interoperable between the before and after hooks, we would break the order of them being called.

Within the current QUnit state, the afterEach hook will be called **only** after the async tests are done on the test. The same thing should happen the beforeEach hook. If you call the `assert.async()` there, you need to finish your async calls in the same block,

[2015-03-18 17:50] piranna commented on #789
What's I'm actually done in 1.x is call QUnit.stop() on setup, and
until I don't call QUnit.start() also on setup, the test is not
executed. I think the same can be done on beforeEach: if you call
assert.async() inside it, the test is not called until the beforeEach
done() is not executed.

--
"Si quieres viajar alrededor del mundo y ser invitado a hablar en un
monton de sitios diferentes, simplem

[2015-03-18 18:15] leobalter commented on #789
yes.

btw, beforeEach and setup are exactly the same functions, and they work in the same way.

[2015-03-18 19:48] piranna commented on #789
Then there's no problem with the current behaviour and it's working correctly (except the fact that currently it gets blocked), isn't it?.

[2015-03-18 19:57] JamesMGreene commented on #789
All of the behavior discussed here is intentional.
 - The `setup`/`beforeEach` hooks must synchronize before the test body/callback can be run.
 - The test body/callback must synchronize before the `teardown`/`afterEach` hooks can be run.

You can run async operations in `setup`/`beforeEach` that you don't need finished until the test body/callback... just don't use `assert.async()` to accomplish

[2015-03-18 20:31] piranna commented on #789
Problem is related to the stop-continue issue: if ```beforeEach``` is executed in one shot and ```test``` is executed inmediatly, although you could call to ```async()``` inside ```beforeEach```, ```test``` will not wait, so you can't do async tasks in ```beforeEach```. With ```stop()``` and ```start()```, the trick is about call ```stop()``` on ```setup``` and when its async operation has finishe

[2015-03-19 01:35] shivamdixit commented on #672
I think it's a good idea to adjust `propEqual` instead of `deepEqual`.

[2015-03-20 18:15] JamesMGreene commented on #787
I'd say definitely don't call it `QUnit.pending()`.  I'd be behind some name more like `QUnit.todo` (based on the TAP concept) as mentioned by @gibson042.

It's also worth noting that no other JS unit testing framework we've talked to has this functionality. It's marked as "Status Type" of "Inconclusive" in the table here: https://github.com/js-reporters/js-reporters/issues/4

[2015-03-20 19:11] leobalter commented on #787
todo sounds better than pending.

Regarding it as a new functionality, I believe the use case is the argument to sustain this new API feature.

[2015-03-21 12:29] shivamdixit opened #793 "Diff is not shown even when two objects are different"
For the following deepEqual comparison, no diff is displayed. Is this an expected behavior?

[code]

Output:
![qunit](https://cloud.githubusercontent.com/assets/3061095/6765017/f0e86d3c-cff3-11e4-8285-375999f2f9aa.png)

Diff is also not show in various other complex object assertions too.

[2015-03-21 13:45] shivamdixit commented on #363
Only outputting properties that are different might become confusing sometimes as the structure of object will not be maintained. Instead we can make the objects **collapsible** to compress the output of the diff. For example:
![qunit3](https://cloud.githubusercontent.com/assets/3061095/6765178/3cf77180-cffb-11e4-9d39-13adebd5b72f.png)
Can be collapsed to:

![qunit2](https://cloud.githubuserconten

[2015-03-21 14:42] gibson042 commented on #363
I think it depends on the case(s) we're trying to improve. Diffs of objects with many properties, which I suspect is a principle pain point, would benefit most from hiding completely-unchanged properties. Deep diffs, on the other hand, would probably benefit more from compressing the structure _above_ changes (e.g., replacing `arr: [\n ...,\n {\n ...,\n differs: {\n ...` literal representation wit

[2015-03-21 14:57] gibson042 commented on #363
That said, I really like the dynamic collapse concept for conditionally showing excess data. But I think it would apply to lists of unchanged properties instead of whole objects/arrays, at least for the "many properties, few diffs" case.

[2015-03-21 22:17] gauravmittal1995 commented on #793
I think that this is because https://github.com/jquery/qunit/blob/master/src/dump.js#L163#L165. Here since your dept at which the difference is seen is more than the default MaxDepth(5) , It gives [Object object]. Also here the diff is not seen because even though its different (and that's why it gives an error), the displayed text is essentially the same(i.e object Object). If you change the MaxD

[2015-03-22 02:18] shivamdixit commented on #793
@gauravmittal1995 Thanks, I was not aware of `maxDepth` property.

[2015-03-22 02:18] #793 closed

[2015-03-22 02:20] scottgonzalez commented on #793
This would require exposing some additional logic, but it might be interesting to show a notice next to the assertion. Potentially even providing a link to rerun the test with a higher max depth.

[2015-03-22 02:26] shivamdixit commented on #793
@scottgonzalez I think that's a great idea. Shall I open an issue for the same?

[2015-03-22 02:37] shivamdixit commented on #363
@gibson042 I agree with your point. As dynamic collapsible properties will only "reduce" the output, we can have them along with completely hiding unchanged properties.  An option `completelyHideProperties`can also be provided to the users so that they can decide when to show and when not.  We can also have some threshold to determine its default value, if the number of properties are more than `m

[2015-03-23 13:22] scottgonzalez opened #798 "Invalid test for autostart"
`test/autostart.html` currently contains an invalid test for the autostart feature. The `QUnit.load()` override is implemented incorrectly, resulting in a false positive. The method isn't actually overloaded and `QUnit.load()` is actually called instantly.

[2015-03-23 16:16] JamesMGreene commented on #757
@gauravmittal1995:
Here you go: [JamesMGreene/qunit-assert-compare](https://github.com/JamesMGreene/qunit-assert-compare)

[2015-03-23 16:24] gauravmittal1995 commented on #757
Thanks @JamesMGreene

[2015-03-24 17:08] jzaefferer commented on #531
Based on a discussion on IRC about "why would a reporter consume TAP?", I think there are multiple scenarios that we should at least consider. For QUnit we currently have a pretty simple model for just one abstraction layer:

[code]

Runner runs tests, reporter registers event handlers to output result, usually via HTML reporter in the browser, but could also be on CLI etc.

When running tests in

[2015-03-24 17:26] fcarstens commented on #531
Thanks for the clarification!
Looking at @JamesMGreene's work, wouldn't it be something like
[code]
My point on IRC was that the TAP-Reporter would be one of the (interchangeable) reporters, as in  http://mochajs.org/#tap-reporter and not directly part of the standardized interface.

[2015-03-24 17:29] jzaefferer commented on #531
Yes, I agree, that's a better description.

[2015-03-24 23:19] gauravmittal1995 commented on #363
@shivamdixit I agree with your idea. Last week i thought of doing it like
<pre>
{ ... {
          a:{diff}
      }
... }
</pre>

But that created problems, like not determining the depth of the diff, etc.
therefore i thought of using something like Github's diff... i.e Hide all the part and only display the ones which are different with the choice of expanding if needed.
This is similar to your id

[2015-03-26 16:19] #348 closed

[2015-03-26 16:29] #781 closed

[2015-03-30 13:33] BraulioVM commented on #798
I think this might be already fixed with my last PR

[2015-04-01 07:04] jzaefferer commented on #771
@leobalter @shivamdixit @gauravmittal1995 can I interest any of you to look into fixing this regression? This is a blocker for the next release.

[2015-04-01 09:28] gauravmittal1995 commented on #771
@jzaefferer Sure, i'll check it out

[2015-04-01 10:26] gauravmittal1995 commented on #771
@jzaefferer Please check https://github.com/jquery/qunit/pull/804 for this.

[2015-04-01 12:56] #771 closed

[2015-04-01 15:15] jzaefferer opened #805 "Run test/amd.html through PhantomJS"
See https://github.com/jquery/qunit/pull/791#issuecomment-88377363

Waiting for https://github.com/asciidisco/grunt-qunit-istanbul/pull/43 to be merged and released.

[2015-04-01 15:20] jzaefferer commented on #775
Closing due to inactivity.

[2015-04-01 15:20] #775 closed

[2015-04-01 15:23] jzaefferer opened #806 "Integrate website update into release script"
Related to #736, we should automate updating the website as part of the release script. At the end we should be able to remove most of this: https://github.com/jquery/qunit#releases

[2015-04-03 09:42] #805 closed

[2015-04-03 13:40] nikolas opened #807 "QUnit 1.18.0 error with karma-qunit and requirejs."
I get this error when testing my application with QUnit 1.18.0:
[code]
Build log is here:
https://travis-ci.org/ccnmtl/dmt/builds/57026820

Downgrading to 1.17.1 fixes the issue.

[2015-04-03 13:44] scottgonzalez commented on #807
Have you looked through the [RequireJS documentation about that error](http://requirejs.org/docs/errors.html#mismatch) to make sure you're not doing anything they tell you not to do?

[2015-04-04 10:54] dhowe opened #808 "Warning qunit not compatible with node >= 12"
npm WARN engine qunit@0.7.5: wanted: {"node":">=0.6.0 < 0.12.0"} (current: {"node":"0.12.0","npm":"2.5.1"})

[2015-04-05 01:43] JamesMGreene commented on #808
That's not our package, please file an issue with [kof/node-qunit](https://github.com/kof/node-qunit).

If you would like to use raw QUnit on Node.js, than you want the package named "qunitjs" instead.

[2015-04-05 01:43] #808 closed

[2015-04-05 02:29] dhowe commented on #808
ah yes, I see that now, though I'm not using node-qunit directly (and it isn't listed as a dependent of anything on npm) -- any idea where its coming from?

  "devDependencies": {
    "argsparser": "0.0.6",
    "del": "^1.1.1",
    "gulp": "^3.8.11",
    "gulp-concat": "^2.3.3",
    "gulp-jshint": "^1.7.0",
    "gulp-qunit": "^1.2",
    "gulp-rename": "^1.2.0",
    "gulp-replace": "^0.4.0",
    "g

[2015-04-05 04:05] leobalter commented on #808
The "qunit" package on npm is the node-qunit package. As James said, use qunitjs for the raw qunit.

[2015-04-05 04:07] dhowe commented on #808
got it, thanks much

[2015-04-08 04:30] garan commented on #364
Just a heads-up.
I thought I would mention prettydiff here, to make sure you guys have considered it.

I have been using jsdifflib, as it looked to be the best option, months ago (not sure why I skipped prettydiff ..probably seemed like too much at the time).
However, I only use difflib.SequenceMatcher() and found jsdifflib code easy to adapt.

Prettydiff was originally developed from jsdifflib an

[2015-04-09 16:49] jzaefferer commented on #787
I've read this a few times, but still fail to grasp the essence. Could you or someone else provide a summary beyond "let's add `QUnit.todo()`"? That is, what exactly would we implement in QUnit?

[2015-04-09 17:38] jzaefferer commented on #807
Closing due to inactivity.

[2015-04-09 17:38] #807 closed

[2015-04-09 19:51] gibson042 commented on #787
I'll give it a shot. Recall that the [QUnit callbacks](https://api.qunitjs.com/category/callbacks/) provide "failed" and "passed" assertion counts, with an implicit assumption that every assertion is expected to pass. Introducing TODO means violating that assumption, because a run with failed assertions is still a success if they are all associated with TODO tests. We need to capture them in a new

[2015-04-10 05:36] patkoscsaba commented on #807
This issue should be reopened. I am experiencing the same problem. I can't get 0.18.0 to work with require.js on our project. This has nothing to do with require.js documentation as suggested above as far as I can tell. All our tests are running just fine with 0.17.1. The only change between working and braking is the update to qunit 0.18.0.
Maybe qunit itself does something wrong from require.js'

[2015-04-10 12:21] scottgonzalez commented on #807
Well, 0.18.0 has proper AMD support, so it's not that unlikely that you were doing some weird to get 0.17.x working, which is now causing problems. There are tests for AMD in QUnit, so you'll need to provide a reduced test case for us to look at.

[2015-04-10 13:13] jzaefferer commented on #787
That sounds like overkill. Adding a "todo" detail to the log and badge to the reporter (styled like the one for skip) and reversing the result of all assertions inside a `QUnit.todo()` callback should be enough to make this useful. Its then up to the developer to decide what to do with a `todo` test once it fails, but that should be enough notification.

[2015-04-10 14:22] gibson042 commented on #787
How is a developer to _identify_ a `todo` test, especially if they're not using the HTML reporter?

[2015-04-10 18:08] nikolas commented on #807
The issue is that, as of version 1.18.0, qunit now registers itself as an AMD module:
[code]
That will break on a site that's using requirejs, because it's being run from outside of requirejs's `require.config()`.

The django-debug-toolbar project has also struggled with this issue. Their solution is to re-define `define`: https://github.com/django-debug-toolbar/django-debug-toolbar/pull/591

[2015-04-10 19:02] jzaefferer commented on #807
@nikolas @patkoscsaba please, please provide a test page that we can run, otherwise we can't do anything here.

[2015-04-11 10:07] patkoscsaba commented on #807
I prepared an IntelliJ project here: https://dl.dropboxusercontent.com/u/18447347/QUnitTesting.tar.gz
It contains a package.json, so just npm install to get all the karma, requirjs, etc. modules. You can run the karma tests from IntelliJ or from the console. As you wish. There is a simple code in src, and a example test in the test directory doing just a QUnit.asert.ok().
Regardless, the error is

[2015-04-13 15:16] jzaefferer commented on #807
As far as I can tell, that is a problem introduced by Karma. Loading QUnit with requirejs works fine. I guess that Karma tries to load QUnit separetely, outside of requirejs, or under a different id. I suggest you report this against the [karma-qunit adapter](https://github.com/karma-runner/karma-qunit).

[2015-04-13 15:24] jzaefferer commented on #787
HTLM reporter: "todo" badge, similar to "skip" badge
stdout reporter: Put "todo" in color in front of test name, or whatever works.

As long as the details for the test indicate the "todo" state, both can be implemented to output whatever we need.

[2015-04-13 15:57] gibson042 commented on #787
I'm specifically thinking of Javascript reporters. The current [callbacks](http://api.qunitjs.com/category/callbacks/) arguments don't provide that information. Are you proposing a new property in the testDone details and requiring consumers to register at that level if they care about the distinction (e.g., for reporting at suite completion)?

[code]

I think I can get on board with that.

[2015-04-14 11:14] jzaefferer commented on #787
I'm not sure what you refer to as "Javascript reporters". I was talking about #790.

Yeah, that.

[2015-04-14 14:29] gibson042 commented on #787
A poor choice of words. What matters is the API provided by QUnit—data passed to callbacks should be complete enough to implement _any_ reporter (hence the need for an additional property here). I was just blinded by the presence of failed/passed/total assertion counts in `moduleDone` and `done` details, where they are entirely redundant with `testDone` and will be misleading when including "todo"

[2015-04-15 16:28] jzaefferer commented on #787
@gibson042 @wycats I've updated the ticket above with a summary, can you verify that captures everything we discussed?

[2015-04-15 17:04] gibson042 commented on #787
Looks good except for this:

I expect "todo" tests to pass when at least one assertion fails, or "fail" when _all_ assertions pass.

[2015-04-16 02:30] leobalter commented on #787
Agreed. It might point some bad practice but some assertions might pass on todo tests by random changes, as a collateral effect. It's good to flag only with the entire test passing rather than single assertions.

[2015-04-17 14:08] jzaefferer commented on #787
Makes sense. Updated the code block above, please take another look.

[2015-04-17 14:19] gibson042 commented on #787
LGTM :+1:

[2015-04-17 14:19] leobalter commented on #787
LGTM as well. Let's do it.

[2015-04-19 03:38] ldez commented on #807
The problem can be dirty solve like that: in `karma.conf.js` replace `frameworks: [ 'qunit', 'requirejs'],` by `frameworks: [ 'requirejs', 'qunit'],`

[2015-04-24 12:18] 4thex opened #814 "Filter does not match exact case"
If you search for a test using the exact case instead of lower case, the filter doesn't match.
![image](https://cloud.githubusercontent.com/assets/6496860/7318487/345ae57e-ea41-11e4-8964-46771a07a0ae.png)

![image](https://cloud.githubusercontent.com/assets/6496860/7318494/488bef5c-ea41-11e4-882d-3f6f92107048.png)

[2015-04-24 12:22] 4thex commented on #814
This seem to have been fixed in 1.18.0. Sorry. Closing issue.

[2015-04-24 12:22] #814 closed

[2015-04-25 14:01] jzaefferer opened #815 "browserstack-runner improvements"
Currently we run all our testsuites against most of our supported browsers for PRs and commits to master. With plenty of failures due to timeouts, this doesn't provide near as much value as it should. I'd like to use this issue to discuss some options for getting more values from this setup.

One idea: Only run the main tests for "all" commits, then set up a separate browserstack.json (or browsers

[2015-04-29 15:12] platinumazure opened #816 "Allow assert.async callback to "wrap" actual async callback and handle errors?"
It would be really excellent if there was an easy way to have inadvertent exceptions from async callbacks be noted in an assertion and the test runner restarted, much like what is already done in the synchronous and promise pathways. (As it is, the test runner chokes completely in these cases because `QUnit.start()`, or equivalent, is not called.)
- Synchronous pathway: https://github.com/jquery/q

[2015-04-30 02:33] JamesMGreene commented on #816
Thanks for the input, @platinumazure! (And on a personal note: Hi, Kevin! Hope all is well. :wave:)

**My thoughts:**
Synchronous flows and async Promises both have 1-2 guaranteed and consistent resolution/exit points, which makes testing them pretty easy. The unfortunate burden of asynchronous testing [without Promises] is that there is _NOT_ a limited number of exit points. The scenario you demo

[2015-04-30 05:49] platinumazure commented on #816
I definitely agree that QUnit should not go down the path of stubbing out
`setTimeout` and relatives. That's not what I'm suggesting and that's not a
use case I'm trying to support here.

My thoughts are as follows:

  1. It is relatively common for test cases to involve only one level of
asynchronous calling, just in the test function. My proposal solves this
common case very well.

  2. As for m

[2015-04-30 05:54] platinumazure commented on #816
And now I'm on the website, your code sample renders... My basic points are unchanged: the second case is converted either by multiple `assert.async()` calls (if the nested async is defined in the test) or by a mock/stub library otherwise.

I just want to make the common stuff, *within a test*, easy (I.e., setTimeout or require embedded in a test itself). I don't want to turn QUnit into a stub lib

[2015-04-30 14:49] scottgonzalez commented on #816
I'm -1 on this.

[2015-04-30 14:57] platinumazure commented on #816
@scottgonzalez Would love to hear why.

[2015-04-30 15:35] scottgonzalez commented on #816
It's awkward and potentially misleading.

[2015-05-01 17:47] platinumazure commented on #816
@scottgonzalez Well, I can understand that the proposed API needs some work. Are you in favor of the concept, at least (that is, shoring up an inconsistency in exception handling between synchronous, promise, and asynchronous test code)?

[2015-05-01 20:12] scottgonzalez commented on #816
I'm not in favor of the concept.

[2015-05-04 13:11] williamsbdev opened #817 "[QUESTION] is it possible to fail a test in the QUnit.testDone callback?"
In the QUnit 2.0 series, the `assert` is no longer global (good thing!) and is passed into each test's callback. When I made this upgrade, my testDone callback is no longer failing tests like it had been (because I had been using the global assert). I had some code that would check to see that all requests were properly mocked and if there were too many or too few mocks, I would fail the test. I s

[2015-05-04 14:01] jzaefferer commented on #817
That's an interesting usecase, though one that the logging callbacks like `testDone` were never intended for. For this kind of assertion, I recommend using the module's `afterEach` callback instead. You may still need a bit of duplication to apply that check for all modules, but that's currently the best option. Let us know if that works for you.

[2015-05-04 17:38] williamsbdev commented on #817
This will be in every module and so it is not desirable to put this into each `afterEach`. Would you like me to open a feature request issue?

[2015-05-04 18:19] jzaefferer commented on #817
Assuming you abstract the necessary logic, you'd add 3-4 LOC per module. Also assuming one module per file, a reader of that file could quickly figure out where that shared setup is defined, compared to having it in just one place somewhere else.

That said, we've had a discussion about that feature before, even implemented it at some point, but dropped it before release. I can't remember that nam

[2015-05-10 22:38] jdalton opened #818 "1.18.0 breaks phantomjs tests."
I noticed when I updated to 1.18.0 my phantomjs tests started not ending with zero test runs.
See https://travis-ci.org/lodash/lodash-amd/builds/61941189.

Once I reverted to 1.17.1 things started working again.
See https://travis-ci.org/lodash/lodash-amd/builds/62009692

[2015-05-10 22:57] jdalton commented on #818
Narrowed it down to this change https://github.com/jquery/qunit/compare/1.17.1...1.18.0#diff-5b7e94e2a10b848c4ae4b539388f86aeL728.

[2015-05-10 23:09] jdalton commented on #818
Seems this commit broke it https://github.com/jquery/qunit/commit/d6baf223d9329cb880457b87bacad86842717fea.

[2015-05-10 23:33] jdalton commented on #818
On further digging its related to when phantomjs is not running a web site so when script have access to `phantom` object. There is also a `document` object with a `readyState` of `complete`. So when it hits the `addEvent( window, "load", QUnit.load );` it's ignored. With QUnit 1.18.0 it now starts QUnit in this mode where before it left it up to scripts to call `QUnit.load()`.

[2015-05-10 23:38] jdalton commented on #818
The check could be modified to:
[code]
To solve the early initialization issue.

[2015-05-11 02:10] williamsbdev commented on #817
Correct me if I'm wrong but even in the `afterEach`, it is not possible to fail a test. So while I really don't want to add something to every module, I don't think it's even possible without wrapping the `test` function and doing my custom failure.

[2015-05-11 10:02] NoelAbrahams opened #819 "Hide passed tests does not work on page reload"
Hi,

Version: 1.18.0/1.18.1-pre

* Start with 'Hide Passed Tests' unchecked and refresh the page.
* Check 'Hide Passed Tests'. This causes all passed tests to collapse, as expected.
* Now reload the page. At this point 'Hide Passed Tests' is checked, but passed tests are not hidden.

[2015-05-11 12:11] gibson042 commented on #817
http://jsbin.com/kotekikoti/1/edit?html,js,output

[2015-05-13 22:09] angelozerr opened #820 "QUnit IntelliSense for Eclipse, Sublime, Emacs, Vim, Web Editor CodeMirror"
Just for your information I have generated from your doc API a [ternjs](http://ternjs.net/doc/demo.html) plugin https://github.com/angelozerr/tern.jqueryapi/blob/master/qunit1-19.js

tern is a JavaScript inference engine which gives support for completion, hover, etc and can be used with a lot of JavaScritpt Editor like Eclipse, Sublime, Emacs, Vim, Web Editor CodeMirror. Here a screenshot with QU

[2015-05-14 17:26] jzaefferer commented on #819
I tested this with 1.18.0 and master, I'm unable to reproduce the issue.

What browser are you using? Any other detail that you can provide?

[2015-05-14 17:31] NoelAbrahams commented on #819
Chrome  42. Does the code depend on anything in local storage?

[2015-05-14 17:33] jzaefferer commented on #819
Not for this feature. The `hidepassed` flag is stored in `window.location` (updated via `window.history.replaceState` where available).

[2015-05-14 17:36] NoelAbrahams commented on #819
I think that might be the problem. Can the code not read the query string every time? To the user it appears that the query string has "hidepassed", which implies everything should work. What I mean to say is that the query string is the actual store - there should be no need to save it elsewhere.

[2015-05-14 17:39] jzaefferer commented on #819
The flag is stored in the query string, no where else. There are other QUnit features that use `sessionStorage`, but not this one. You can look at the code for `hidepassed` to verify that yourself.

[2015-05-14 18:56] NoelAbrahams commented on #819
But I though you said it's stored in `window.location`? Can that not be overwritten by some user code?

[2015-05-15 09:15] jzaefferer commented on #819
The query string is part of the [`location`](https://developer.mozilla.org/en-US/docs/Web/API/Window/location) property.

Guessing like this is no going to get us anywhere, we need to be able to reproduce the issue.

[2015-05-15 09:18] NoelAbrahams commented on #819
Quoting from the link:

That would mean that users are able to write `window.location = 'http://foobar'`. So `location` should not ideally be used to store state.

[2015-05-15 09:20] jzaefferer commented on #819
Doing that will load a different page, so there is no more QUnit testsuite. That makes no sense.

[2015-05-15 09:20] #819 closed

[2015-05-15 09:23] NoelAbrahams commented on #819
Yes, that's a fair point. I'll take a look to see where it's failing.

[2015-05-15 15:30] #798 closed

[2015-05-15 16:46] #335 closed

[2015-05-15 16:56] #478 closed

[2015-05-15 17:02] jzaefferer commented on #820
Looks good! Could you add this to our plugins page? https://github.com/jquery/qunitjs.com/blob/master/pages/plugins.html

[2015-05-16 10:26] angelozerr commented on #820
Glad it seems please you. You can play with the online demo http://demo-angelozerr.rhcloud.com/CodeMirror-Java/qunit.html which uses teh qunit tern plugin with Web Browser CodeMirror.

Done with https://github.com/angelozerr/qunitjs.com/commit/10a329951c331192568e5ca59c9468cf2a346871

[2015-05-18 14:46] #820 closed

[2015-05-18 14:56] jzaefferer commented on #818
Thanks for tracking down the issue, that certainly helps.

Can you help us reproduce this setup with a simplified test setup? That would allow us to test your suggested solution and evaluate alternatives, and prevent future regressions.

[2015-05-18 15:00] jzaefferer commented on #817
So the answer to the question in the subject, can a `testDone` callback fail a test, is no, it cannot. The suggested workaround is to use module level callback (beforeEach, afterEach).

The attempt to implement global beforeEach/afterEach callbacks can be found in #633, while #681 discusses why we ended up removing them again. As I wrote there:

That's still a discussion we can have, though since

[2015-05-18 15:00] #817 closed

[2015-05-18 15:05] jzaefferer commented on #816
That's something we should address, but not with the suggested solution.

[2015-05-18 15:13] jzaefferer commented on #789
To revive an old discussion:

Do you have a test page that shows that issue? There probably is a lack of documentation, but the implementation allows `beforeEach` and `afterEach` to run async and deals with promises. The meat of that is [in `queueHook`](https://github.com/jquery/qunit/blob/1.18.0/src/test.js#L127-L145).

[2015-05-18 15:22] platinumazure commented on #816
I've no doubt there is a better approach out there somewhere. If you have an idea how it should be done, let me know what you're thinking and I'm happy to write up a pull request to get things started. Thanks!

[2015-05-18 15:26] jzaefferer commented on #816
For a start, could you do a PR that modifies one of the existing test page and makes the runner halt? Preferably with a scenario that is likely to occur in practice.

[2015-05-18 15:28] platinumazure commented on #816
Sure. Should the target branch be anything besides master?

[2015-05-18 15:29] #483 closed, assigned to nobody

[2015-05-18 15:30] jzaefferer commented on #364
On the list above, only #363 is still open, and we have a WIP PR for that. I don't think we need this meta ticket anymore.

[2015-05-18 15:30] #364 closed

[2015-05-18 15:30] jzaefferer commented on #774
Closing this since there's nothing to discuss here and the underlying diff-related issues are enough.

[2015-05-18 15:30] #774 closed

[2015-05-18 15:31] leobalter commented on #816
master is fine.

[2015-05-18 15:33] jzaefferer commented on #740
@leobalter @JamesMGreene thoughts on this? See my last comment above for details.

[2015-05-18 15:34] jzaefferer commented on #706
This has been addressed in 9498355593a1284720e8accfbf6f37f72cc82a9b (didn't include a ticket reference)

[2015-05-18 15:34] #706 closed

[2015-05-18 15:35] jzaefferer commented on #672
@fernandojsg @leobalter @JamesMGreene any thoughts on the suggestion above?

[2015-05-18 15:58] jzaefferer commented on #533
Based on my own usage and from reported issues and implementations of custom assertions, I don't see a practical need for this.

Regarding stack traces, we're now exposing `QUnit.stack()`, which might be of use in custom assertions.

I don't see a need to keep this ticket open any longer.

[2015-05-18 15:58] #533 closed

[2015-05-18 16:22] jzaefferer commented on #496
Meanwhile I've got to use Mocha on a project and got quickly annoyed by two implementation details of their `only` feature: It will only run the first `only` describe/it, and ignore others, unless they have the same name (probably not intended behaviour, but happend once due to copy-pasta). When I needed it, having it run all `only`s would've been much more useful. Its also annoying to have to rem

[2015-05-18 16:24] jzaefferer commented on #466
As commented on in #533, I don't see a need for this. Happy to reopen when that changes.

[2015-05-18 16:24] #466 closed

[2015-05-18 16:27] jzaefferer commented on #340
Prepending "NOT" to the expected value seems fine.

[2015-05-18 16:30] jzaefferer commented on #179
Looking at this again, I think the workaround I posted above for moment is fine. The register method doesn't make it easy enough to justify the extra API. And it seems like this rarely, if ever comes up.

[2015-05-18 16:30] #179 closed

[2015-05-18 22:16] JamesMGreene commented on #789
I could _maybe_ picture adding something like a Boolean parameter to the `assert.async()` method signature that would allow that counter/semaphore to remain unresolved until the very end of the test instance's lifecycle, e.g.

[code]

[2015-05-19 10:33] jzaefferer commented on #741
For anyone interested, a kind of status update:

* [PR to add QUnit interface to Intern](https://github.com/theintern/intern/pull/383)
* [Branch for Globalize to use Intern with the QUnit interface](https://github.com/apsdehal/globalize/tree/intern)

Both of these are being worked on by one of our GSoC students, who will later work on using Intern with jQuery Mobile.

[2015-05-19 15:06] leobalter commented on #740
:+1:

If it's namespaced, I don't see why not shipping it.

[2015-05-19 15:12] jzaefferer commented on #740
We should come up with a better name.

[2015-05-19 16:07] jzaefferer commented on #789
Why would you want that? As far as I can tell from the discussion above, that was never the issue.

[2015-05-19 16:57] leobalter commented on #672
seems good for consistency. Need to check any possible breaking change.

[2015-05-26 22:18] vmanjunath opened #821 "Fixtures not being restored every time"
I'm new to QUnit and I might be doing something silly.

 As I understand it, everything in the fixture is reset before a new test is run. However, I'm seeing (what is to me) something strange. In the below example, there's a form in the fixture which consists of just an input element and a `div` with the class `has-error`. So as I understand, before each test is run, these should be restored to th

[2015-05-26 22:29] leobalter commented on #821
on `$('input')` you're selecting every input element inside the reporter, including the no *try-catch* and *hide passed tests* checkboxes. If you want to run tests related to your app behaviour/functionallity within the reporter context and select them via the DOM, be sure to use the `#qunit-fixture` context when selecting your elements.

e.g.: `$('#qunit-fixture').find('input')`

[2015-05-26 22:29] #821 closed

[2015-05-26 22:31] leobalter commented on #821
If you have any other question on this topic, you can use this same issue. I closed as it's not an actual QUnit bug.

[2015-05-26 22:52] vmanjunath commented on #821
Awesome! Thanks so much.

[2015-05-27 00:44] vmanjunath commented on #821
Thanks a lot for the quick response. I think that clearly addresses my second question about the inputs being clicked. But the issue with the two tests alternating between passing and failing still persists.

     <div id="qunit-fixture">
      <form>
        <input name="text" />
        <div  class="has-error">Error text</div>
      </form>
    </div>

    <script src="http://code.jquery.com/jqu

[2015-05-27 18:25] vmanjunath commented on #821
Actually, you can ignore this. I was, indeed, being dumb. I just realized that the `#qunit-fixture` element gets replaced every time a new test is run so the bindings go away...

[2015-05-27 19:27] leobalter commented on #821
:+1:

[2015-05-30 01:45] platinumazure commented on #528
I might work on something. Just out of curiosity, what would people think about a module link as well?

So basically, if you run a test page with `testId=...`, it would generate a "Run [module name] tests" link and a "Run all tests" link. If you run a test page with `module=...`, it would generate a "Run all tests" link. Of course, it gets a little more complicated when multiple modules and/or tes

[2015-06-01 05:09] dtracers opened #823 "Set config from url"
for example

http://localhost:8080/myTest.html&autostart=false

I am trying to make a library to run tests and it would be very nice if this existed so that I can attach all of the event handlers before the tests run but after the page loads.

I also have no control over the source code only the url.

[2015-06-01 16:04] leobalter commented on #823
the url params intend to support easy toggling features when they mean sense. `autostart` is not one of them.

I can't see a way you can't have control or access over the source code at all if you're running QUnit. This leaves a question: *how would you write your tests in this case?*

---

autostart is a feature that require control over the source code, without that, you can't even tell QUnit to

[2015-06-01 16:04] #823 closed

[2015-06-02 00:29] dtracers commented on #823
I feel like this could potentially be very useful especially for webdrivers.  Which is what I am currently using and why I asked this question.

And you could add a button that appears in the gui to let you start running the test if the autostart is off.

I have looked around it appears though that Intern accomplishes this and now uses the QUnit API so I think I will switch to that.

Thanks for th

[2015-06-03 02:17] jdalton commented on #818
[code]

[2015-06-06 18:57] FagnerMartinsBrack opened #824 "Quoted "<" breaks diff oO"
Using version 1.18.0: http://jsfiddle.net/yptmch4k/1/

When I compare the string `c=<` against `c="<"` using `strictEqual` the diff breaks, is it intended?

![image](https://cloud.githubusercontent.com/assets/835857/8020973/89b50a14-0c64-11e5-9294-88fac7257360.png)

[2015-06-08 15:40] platinumazure commented on #340
@jzaefferer I've created PR #822 as a possible fix for this issue, but it's incorrectly flagging the PR as CLA: Error (and the travis build seemed to fail on teardown). Any chance you could take a look and let me know if I'm doing anything wrong?

[2015-06-13 11:15] cezarypiatek opened #825 "QUnit.moduleStart invoked before each test"
Hi
I have a problem with QUnit.moduleStart callback. It looks like this callback is invoked before each test not before module. I created a sample module with three tests and callback registered as below was fired three times
[code]
I work with QUnit 1.18.0

[2015-06-13 12:12] JamesMGreene commented on #825
Please provide your example code for the `module` and `test` calls as well so we can easily reproduce your exact scenario. Thanks!

[2015-06-13 13:43] cezarypiatek commented on #825
Here is my sample with issue reproduction https://onedrive.live.com/redir?resid=419b0033f0b10f76!3319&authkey=!AO2MjOTaBdLZaxQ&ithint=file%2czip

The issue occurs when I load my test with delay (see IssueReproduction.js)

[2015-06-17 14:13] jzaefferer commented on #528
@platinumazure I'm not sure what you have in mind there, for the UI. That seems a separate design from the "greying out" discussed above. Anyway, would be great if you could put together a prototype.

[2015-06-17 14:15] platinumazure commented on #528
Um, yes, that's technically true. It just seemed to be a natural
consequence of that single-test focus. I'll open a new issue or PR though
since my proposal is technically not dependent on this one.
On Jun 17, 2015 9:13 AM, "Jörn Zaefferer" <notifications@github.com> wrote:

[2015-06-17 14:27] jzaefferer commented on #818
@leobalter could you take a look at this? Maybe there's an alternative to checking specifically for `phantom`?

[2015-06-17 15:14] jzaefferer commented on #825
When loading tests async you need to tell QUnit to wait, using `QUnit.config.autostart`. See the API docs for an example: http://api.qunitjs.com/QUnit.config/

[2015-06-17 15:16] jzaefferer commented on #528
Okay, thank you. I'm definitely interested in exploring other options to address the original issue!

[2015-06-17 19:29] leobalter commented on #818
checking if a global `phantom` is undefined only is not good. I would rather won't take the risk to break other sites/apps using this name.

I'm setting a deeper check based on the [phantomjs documented api](http://phantomjs.org/api/phantom/property/version.html) to prevent the issue reported here.

[2015-06-18 08:56] jzaefferer opened #827 "Replace push(result, actual, expected, message, negative) with object signature"
As discussed in #822, the now even longer signature for `.push()` is bad. Especially with ES6 an object signature would work very well, `.push({ result, actual, expected, message, negative })`.

As I also mentioned in that PR: If we deprecate the current signature anyway, we might as well come up with a better name, since `push` is very generic. Any ideas for a better name?

[2015-06-18 09:33] #340 closed

[2015-06-18 11:06] #818 closed

[2015-06-18 15:30] platinumazure commented on #827
Regarding a different name: How about something like `pushResult` or `addResult`? The information being added is a test assertion result, but `pushTestAssertionResult` seems a bit verbose.

Certainly open to other suggestions, of course.

[2015-06-19 17:47] cezarypiatek commented on #825
It looks like I missed that parameter. Setting QUnit.config.autostart to false solved my problem. @jzaefferer  thank for your help.

[2015-06-19 17:47] #825 closed

[2015-06-24 01:24] iten123 opened #828 "jshint: test errors when running jshint task"
I'm new here. When running "grunt", I encounter the following error:
[code]

Is it an error that damages the code or just a warning for coding quality?
I could modify .jshintrc to disable the JSON warning.
System: Mac OS X Yosemite

[2015-06-24 13:43] mzgol commented on #828
I'm not getting these errors. Please remove the `node_modules` directory, invoke `npm install` and try again.

Also, on which commit are you trying?

[2015-06-24 16:48] leobalter commented on #827
`pushResult` is interesting, as `resolve` would be a good inspiration from Promises.

[2015-06-24 17:03] platinumazure commented on #827
Seems `resolve` might be confusing with promises and `assert.async` (just conceptually).

[2015-06-24 18:13] iten123 commented on #828
I got the tar file from https://github.com/jquery/qunit/archive/1.18.0.tar.gz and then unzip it.
In the qunit-1.18.0 directory, I do:
[code]

and then still encounter this issue.
Do I need to also remove node_modules in the root directory? Is there other dependencies I need to get?

[2015-06-24 18:23] mzgol commented on #828
That's not the correct way to install dependencies. You should just invoke `npm install` without additional arguments, otherwise you're not installing proper versions. (but remove `node_modules` first).

BTW, this seems to be more a topic for support forums than this bug tracker.

[2015-06-25 03:44] iten123 commented on #828
Thanks, just invoke `npm install` solve the problem.
I should have realized to go through the forums first. Close it now.

[2015-06-25 03:44] #828 closed

[2015-06-28 23:03] Mr21 commented on #364
@garan, I recently finish a diff implementation here: https://github.com/Mr21/diff.js
It's propose only a window.diff() who takes two arrays and that's it.

So if you want to make a diff between two strings you can do:
[code]

[2015-06-29 08:16] fcarstens opened #830 "moduleDone called before module is done"
##### Steps to reproduce the problem:
1. Write two modules. The first module contains two tests. One of the tests fails. The second module contains a single test that fails.
2. Log QUnit.moduleDone events
3. Run the programm twice.
##### What is the expected behavoir?

We expect to have two moduleDone events in both runs.
##### What went wrong?

We have three moduleDone events in the second run.
#

[2015-06-29 15:16] leobalter commented on #830
This is the same behavior at least from QUnit 1.9.0 until the current build.

Every suite rerun will execute first the tests that previously failed. `QUnit.moduleDone` is being triggered prematurely as the module got split.

This might be interpreted as a end of the module for those failing tests and than the module will be called again for the remaining tests on it. And this might affect other re

[2015-07-09 08:54] nelsonic opened #831 "How do we execute multiple test files with a single command?"
## Scenario

We are trying to use the [**Node.js QUnit Module** aka _**qunitjs**_](https://www.npmjs.com/package/qunitjs) for our Server-Side Testing so that we can write one test and run it on both server and client e.g: https://github.com/nelsonic/learn-tdd/blob/master/test.js

When we run a single file using the command:

`node test/my_test.js`

It works as expected.

However, when we have more

[2015-07-09 21:59] jzaefferer commented on #831
How about a tiny wrapper script that passes your argument through (one of many) glob modules, then executes each file?

[2015-07-10 12:33] JamesMGreene commented on #831
Or use existing wrappers like those available for Karma, Grunt, etc.

[2015-07-11 15:18] nelsonic commented on #831
Thanks for your replies @jzaefferer && @JamesMGreene
We were really hoping the node.js module would just read the /test directory out of the box the way Mocha or Tape do ... (_without having to use Grunt/Gulp etc_ ...)

Sounds like we might have to _write_ our own test runner that reads QUnit formatted files...
Does this kind of stand-alone project/node_module already exist to your knowledge?

[2015-07-12 09:13] gabrielschulhof commented on #827
How about just ```result()```?

[2015-07-12 09:18] gabrielschulhof opened #832 "assert: async() and its resulting callback result in test suite stoppage"
Hopefully I'm doing something wrong, but http://jsbin.com/votiye/ would seem to indicate that there's a hangup when using ```assert.async()``` and subsequently calling the resulting function.

Expected outcome:

Two tests are run.

Actual outcome:

The second test does not run.

[2015-07-12 09:22] gabrielschulhof commented on #832
Doing things the old-fashioned way (with ```start()```) works: http://jsbin.com/geyifel/

[2015-07-12 09:38] gabrielschulhof commented on #832
OK. I see the error of my ways now. I must not use ```asyncTest()``` if I use ```assert.async()```.

[2015-07-12 09:38] #832 closed

[2015-07-12 15:47] godchuanz opened #833 "Testing Maps/Sets with QUnit"
Most browsers already implement ES6 Map/Set to some degree. Right now, we have the strange issue of:

        obj1 = new Map(); obj1.set(1,2);
        obj2 = new Map(); obj2.set(3,4);
        assert.deepEqual(obj1, obj2);    // passed

I understand QUnit is not meant to process ES6 Map/Set or iterables yet, but as browsers continue to implement ES6 features, this can actually become a real problem

[2015-07-12 18:13] leobalter commented on #833
on [Weak]{Map,Set}, list items doesn't become properties of the collection instantiated object.

deepEqual checks for the values equality of 2 objects' own and extended (prototype) properties.

so `assert.deepEqual(obj1, obj2);` will indeed pass.

What we need is not break `deepEqual`, but **maybe extend QUnit to compare ES6 collections**. This should regard it's impossible to compare WeakMap and

[2015-07-13 02:48] godchuanz commented on #833
The way I see it, `deepEqual` should be extended to cater for ES6 Set and Map.From the src, it already specially catered for "array" objects. What needs to be done is to update the code in `equiv()` for "arrays" to use `forEach()`, and for Set/Map to be classified under that switch case. For better code clarity, "arrays" could be renamed "collections" or something.

[2015-07-13 09:32] jzaefferer commented on #833
Extending `equiv()` to support `Map` and `Set` seems fine, as long as that is backwards compatible. @godchuanz could you look into putting a patch together for that, and send it as a pull request?

As for WeakMap and WeakSet: If those are uncomparable, we could either consider them unequal or throw an exception. Seems like a separate issue.

For both it might be good to see if other frameworks alr

[2015-07-13 09:40] jzaefferer commented on #831
A few lines of globbing doesn't sound like much of a "test runner", but yes, its something QUnit itself (`qunitjs` on npm) doesn't do, yet. You could also try the [qunit module on npm](https://www.npmjs.com/package/qunit), which provides more node-specific options.

[2015-07-13 11:26] JamesMGreene commented on #827
Personally, I would say `assert`... but that will likely cause some confusion with extensions needing to call`this(...)` instead of `this.pushResult(...)`.

[2015-07-14 15:28] godchuanz commented on #833
Hi, yes. I think I have gotten something together. Can you add me as a collaborator so I can make a pull request?

[2015-07-14 15:32] leobalter commented on #833
You can open a PR without being a collaborator, just push to your fork.

[2015-07-14 15:52] godchuanz commented on #833
Ok done that. Sorry, not used to forking (still noob to github, especially for jQuery). Hopefully the CLA check and CI passes soon.

[2015-07-14 18:12] godchuanz commented on #833
Hi, I've made a pull request but somehow the CI and CLA check are both failing. Can anyone tell why? Also, in the current code I found a strange check I couldn't make sense of (`equiv.js Line 90 - arrays check`):

    // b could be an object literal here
    if ( QUnit.objectType( b ) !== "array" ) {
         return false;
    }

It looks to me that `b` would always be an array. This looks redunda

[2015-07-14 19:02] leobalter commented on #833
The CI is ok, the error there is just a known issue with browserstack.

I still need to find more available time to check the CLA issue.

[2015-07-14 21:41] nelsonic commented on #831
I'm not entirely happy with the way `node-qunit` runs test.
but the output is pretty decent.

Usage:
[code]
<img width="843" alt="run-qunit-cli" src="https://cloud.githubusercontent.com/assets/194400/8676918/2dcccc2a-2a44-11e5-9929-86268e6791a6.png">

example: https://github.com/nelsonic/try-node-qunit

[2015-07-14 21:41] #831 closed

[2015-07-15 21:53] #782 closed

[2015-07-18 22:08] BryanCrotaz opened #838 "zero assertions and one assertion simultaneously?!"
[code]

So I simultaneously had zero asserts and one assert???

Ember test code is:
[code]

[2015-07-24 15:13] cfuehrmann commented on #807
Just to confirm, Idez' solution worked for me too. Thanks!

[2015-08-03 19:01] Krinkle opened #840 "Support multi-tenant manual test start"
See karma-runner/karma-qunit#27 for an example of such issue.

I propose we add a method that instead of starting the test suite, takes a Promise that will be waited on before the tests start. And there can be any number of promises provided to this method.

Crucial too is that it is allowed to provide additional promises at any time before all known promises are fulfilled. (e.g. adding A and B, B

[2015-08-04 16:59] stefanpenner opened #841 "[Memory Leak] beforeEach / afterEach appear to leak"
the following code (from : [source](https://github.com/jquery/qunit/blob/825691fda42d89723ff6b1a7337c2e529124d479/src/test.js#L73-L75)) appears to leak `beforeEach` and `afterEach` on the original module. This results in per module leak of the ambient context.

[code]

Obviously the following, prevents the leaks:

[code]

but it is tedious and error prone. A much better solution, for those using m

[2015-08-04 17:07] stefanpenner commented on #841
A quick spelunk indicates the above offending code is likely just run in the wrong order and incorrect object.

if:

[code]

becomes:

[code]

[2015-08-05 15:11] gibson042 opened #843 "Extend assert.async to accept a count of asynchronous operations"
Currently, `assert.async` returns an invoke-once callback, which can lead to overly-cumbersome patterns (e.g., [manual counter tracking](https://github.com/jquery/jquery/blob/acda1d633fd6c8a0a7dc8b8236780daa3fe44cc1/test/unit/basic.js#L9-L22) or [collect and pop](https://github.com/jquery/jquery/blob/1c59b308d201d6dd0f0aed2ad0256d01b9f68047/test/unit/deferred.js#L411-L421)). It would be more conve

[2015-08-05 15:13] mzgol commented on #843
This would be great and seems a common enough pattern.

[2015-08-06 20:23] mattparlane opened #844 "Expected at least one assertion, but none were run - Bounty Available"
This is one of those annoying intermittent issues...  I have a test which has two async calls in series, and I'm getting this error around 30% of the time:

![screen shot 2015-08-07 at 8 17 54 am](https://cloud.githubusercontent.com/assets/176572/9122419/fbb26b9a-3cdc-11e5-9a47-36367d4014e4.png)

This is the test:

    QUnit.test 'Backbone save - new object has attributes', (assert) ->
    	done =

[2015-08-06 20:40] leobalter commented on #844
I don't know if this code is CoffeeScript or anything else different from JS, but this line doesn't look right:

[code]

As you told, I've also failed trying to reproduce it with setTimeout: http://jsbin.com/suxuka/edit?js,output

Maybe these .done functions are not being triggered.

[2015-08-06 20:47] mattparlane commented on #844
They are definitely being triggered -- I've added console.log statements inside them and they are there. I used console.logs to get the timing in my attempt to reproduce it with setTimeout, but that didn't work.

Is there any chance that the 13ms value is incorrect? I don't really understand what that code is doing, but like I said, raising it to 100 fixes my problem. Perhaps it could be made an o

[2015-08-06 20:51] mattparlane commented on #844
Also, the CoffeeScript code is correct, search.save() is a Backbone method which returns a jQuery XHR, so .done() is the same function you'd call if you were doing `$.get(...).done(...)`.

Also, there's no confusion between the local variable done and the method name done, that was just bad naming on my part -- I tried changing the variable name even though I knew it was nothing to do with it, but

[2015-08-07 02:19] mattparlane commented on #844
I now have a reproducible test! It still depends on a server but should be trivial to set up. I have it visible here:

https://admin.wb.gs/test.html

The HTML file loads the bare minimum, just QUnit and jQuery, plus the test file itself (Ajax.test.js). It's no longer dependent on Backbone or any of my code -- it's all just QUnit and jQuery now. It GETs /test.json, just contains the JSON response w

[2015-08-07 16:15] leobalter commented on #844
Ok, I found the issue.

I've made some changes but my local server was unable to reproduce, so I pushed to a gh-pages: http://leobalter.github.io/temp-test/

QUnit tests has a support for promises if you return them. And your test is returning the $.ajax operation, which works as a promise.

The workaround was returning anything else than a promise.

@jzaefferer @JamesMGreene we need to figure out

[2015-08-07 16:22] gibson042 commented on #844
Actually, returning the promise is fine (if unnecessary); it just calls `QUnit.stop()` which increments the `config.current.semaphore` count. The problem is that `resolvePromise` [uses `QUnit.start` as a `then` callback](https://github.com/jquery/qunit/blob/825691fda42d89723ff6b1a7337c2e529124d479/src/test.js#L332), which means it will get the promise fulfillment value as an argument where it expe

[2015-08-07 16:32] leobalter commented on #844
thanks, @gibson042!

[2015-08-07 16:32] gibson042 commented on #844
PR forthcoming. :)

[2015-08-07 16:57] #844 closed

[2015-08-07 19:15] mattparlane commented on #844
Ah... the perils of implicit return! Thanks so much guys.

[2015-08-07 19:57] gibson042 opened #846 "Generate a failure when QUnit.start is passed a non-numeric argument"
Ref #844

When `QUnit.start` is passed a truthy but non-numeric argument, its [test semaphore decrement](https://github.com/jquery/qunit/blob/d47da30d950ba4b1496e70879eb583e982cbb440/src/core.js#L76) sets `config.current.semaphore` to `NaN`. Such a condition should generate output analogous to the "Called start() while already started…" failure presented when `semaphore` dips below zero.

[2015-08-10 20:08] leobalter opened #848 "Investigate why browserstack-runner updates are breaking on Travis"
Updates for browserstack-runner (currently using 0.3.0 on this repo) are crashing on Travis-CI.

Ref: #836

[2015-08-10 21:10] #833 closed

[2015-08-11 21:11] jzaefferer commented on #830
As discussed in the jsreporters repo, I consider this a bug, not an enhancement. Similar to the html reporter keeping the order of the tests as defined (not as executed), the events should also stay in that order.

[2015-08-11 21:44] leobalter commented on #830
I don't see this as an enhancement, I don't even know what I was thinking when I set this label.

[2015-08-13 00:04] stefanpenner opened #851 "deepEqual fails to work with descendants of something with a null prototype"
the following works as expected.

[code]

Unfortunately, in practice `Object.create(null)` is fairly costly. To mitigate this cost a specialized `NullObject` can be used. This Object has similar safe characteristics, but with dramatically reduced allocation costs.

#### Reference implementation:

[code]

### This leads us to the problem:

[code]

This fails because, `a.constructor !== b.constructo

[2015-08-13 15:53] #841 closed

[2015-08-14 15:00] jzaefferer commented on #848
Do you have a link to a Travis build that crashed?

[2015-08-21 18:03] platinumazure commented on #846
I'd love to submit a pull request, but I'm not sure what the best way to handle this situation is. I suppose throwing an exception for an invalid value would make sense, but is there a better way?

[2015-08-25 15:53] kenips commented on #818
@leobalter looking forward to this fix here. Any milestone for 1.18.1 or any blocker for it that needs help with?

[2015-08-25 15:57] leobalter commented on #818
@kenips QUnit 1.19 is about to be released with this fix.

cc @jzaefferer

[2015-08-25 16:11] kenips commented on #818
:+1: thanks the great work guys!

[2015-08-27 14:49] leobalter opened #854 "Split browserstack run on CI"
Currently, browserstack-runner is returning timeouts. This is due to the number of different browsers and files.

We can try to split the runs to avoid timeouts. I am thinking about:

1. run the tests only on the current browsers
2. run the tests on the older browsers

Another split if we need to go further:

1. **main** tests only on the current browsers
2. **main** tests on the other browsers
3.

[2015-09-04 20:16] mzgol opened #855 "Safari 7.0 isn't tested"
BrowserStack has removed Safari 7.0 from the API, I notified them that it's a problem for us. However, because of [these lines of browserstack-all.json](https://github.com/jquery/qunit/blob/master/browserstack-all.json#L21-L22) you now wouldn't even try to this version; only Safari 5.1, 6.2, 8.0 & 9.0 are included. This means Safari 6.0 & 7.0 is gone (6.2 has an identical engine as 8.0).

Due to t

[2015-09-04 20:22] leobalter commented on #855
Thanks for letting me know.

Does safari_6_2 works? otherwise we'll need to specify each browser without aliases.

[2015-09-04 20:26] mzgol commented on #855
I'm not sure but you specify `safari_5_1` already so I assume it should. It's best to include every Safari version since `6.0` with the `_0` suffix as minor updates are basically the same as major ones in this land.

[2015-09-04 20:35] leobalter commented on #855
I'll have to test it, browserstack does not document the aliases and some key names does not work.

[2015-09-06 19:24] stefanpenner commented on #851
Anyone have thoughts on this? Would love to act on feedback.

[2015-09-06 19:31] stefanpenner commented on #851
I suspect, we can walk the chain and detect a deeper inheritance of null

[2015-09-07 03:00] leobalter commented on #851
I'm take the holiday tomorrow to work on this, I want to see if I also bring a test to avoid any regressions.

[2015-09-07 04:07] stefanpenner commented on #851
note, i took a quick stab at something: https://github.com/stefanpenner/data/commit/6a53d429f431005063146713b139374dba95e9f5

[2015-09-07 20:41] leobalter commented on #848
Browserstack 0.3.7 is working just fine on #857

[2015-09-07 20:41] #848 closed

[2015-09-08 13:58] ebenoist commented on #496
This feature is the biggest thing I miss from Jasmine. As a code base grows, doing a full test run in an Ember app can mean waiting minutes. During this time the Qunit UI is completely unresponsive or continuously moves focus as it builds and tears down acceptance tests.  Having the equivalent of a `Qunit.only` would mean being able to focus on the task at hand with incredibly fast feedback only t

[2015-09-08 15:13] leobalter commented on #496
QUnit.only is a welcome feature. I'll put this on my schedule, but I would also like any contribution to help implementing it.

[2015-09-10 06:02] mixed commented on #843
+1 for this feature.
@jzaefferer Could I work on this issue?

[2015-09-10 18:46] #815 closed

[2015-09-10 18:46] #854 closed

[2015-09-10 19:02] leobalter opened #858 "Nested modules improvements"
With #800 done, @gibson042 brought some important topics to improve:

* executing all of a module's own tests before entering its submodules (regardless of test/submodule definition order)
* always minting a new environment definition for every submodule, even if its `hooks` argument is `undefined` or not even specified

Also:

via arguments or context, which should be covered by your above follow

[2015-09-17 09:33] jzaefferer opened #860 "More browserstack-runner improvements"
As commented here, the current build script still seems to have issues: https://github.com/jquery/qunit/pull/856#issuecomment-141020718
Failures should propagate to having the build fail.

That was iOS timing out, which we should try to avoid by sticking with simulators, like this:
https://github.com/shirish87/sizzle/commit/577b55b98f17c1bc58915548a9d6b6a2bda1b0af

/cc @shirish87 are there other i

[2015-09-17 16:11] #851 closed

[2015-09-17 17:55] leobalter commented on #846
@platinumazure

You should probably use `QUnit.pushFailure` with a message argument. Ref: https://github.com/jquery/qunit/blob/master/src/test.js#L297

[2015-09-20 13:06] mightyiam commented on #590
:+1:

I'm transitioning [WYMeditor](https://github.com/wymeditor/wymeditor) to CommonJS with Browserify and I'm seeing this dreadfully unhelpful thing.
![screenshot_2015-09-20_16-05-25](https://cloud.githubusercontent.com/assets/635591/9980863/6ce2b6e8-5fb1-11e5-97bf-e8ceb7cd9fe4.png)

[2015-09-21 09:58] jzaefferer commented on #590
Once a library like [TraceKit supports this](https://github.com/csnover/TraceKit/issues/31), we can look into adopting it. If you want to help, look into integration of TraceKit into QUnit. Otherwise this will probably stay open for another year or two.

[2015-09-21 12:24] jzaefferer commented on #855
Btw. Safari 7 is back in the API (I think), apparently it won't come back in Live though, so don't expect to see it there.

[2015-09-21 12:31] jzaefferer commented on #496
@ebenoist could you help implementing `QUnit.only`?

[2015-09-21 13:06] ebenoist commented on #496
I'll see if I can carve out sometime next weekend. Can you point out any conventions I should be aware of, potential designs, or similar concepts already in the `QUnit` codebase?

[2015-09-21 13:32] jzaefferer commented on #496
I think the design, including the display in the html reporter, of `QUnit.skip` comes closest to what we're looking for here. It should be fairly simple, so I think we can start with a pull request and go from there. No need for more up front design than what's in this issue.

[2015-09-21 13:44] mzgol commented on #855
Yup, I've restored it for projects using TestSwarm.

[2015-09-21 16:40] mzgol commented on #855
Please see https://github.com/jquery/jquery/issues/2609. It seems the new Safari 7.0 is a fake one and under the hood it has a 7.1/8.0 engine so don't rely on its results for now. :/ I notified BrowserStack about the issue.

[2015-09-23 14:03] ebenoist commented on #496
Sounds good, I should be able to put up something soon.

[2015-09-23 16:28] leobalter commented on #496
@ebenoist, would you also regard the #528 when doing QUnit.only? that would be a ++

[2015-09-24 13:13] spocke commented on #655
Please don't remove QUnit.stop(); we use it in a case where each module stop:s waits for an editor to initialize then calls QUnit.start(); to run the tests. Instead I suggest that QUnit.stop remains but that it only works outside a test context.

Currently I can't update QUnit to the latest version due to the error being thrown from QUnit,stop.

[2015-09-24 14:59] leobalter commented on #655
`QUnit.stop()` is deprecated but it should work just fine on every QUnit.1.x.x versions.

If you have an error on `QUnit.stop` you should check if it's not an implementation error or a regression.

Which version you use today?

[2015-09-28 16:36] leobalter opened #864 "Allow chai usage integration."
I'm thinking about creating a assert adaptor to allow the use of custom assertion libs, as Chai.

To start I thinking on something like:

[code]

I know `QUnit.setup` is not even in the plans, this is something to maybe discuss in another issue.

Possible drawbacks: having chai plugged in, QUnit would probably break a test on its first failing assertion, but wouldn't fail without a builtin asserti

[2015-09-29 10:16] jzaefferer commented on #864
Might be possible to wrap each assertion to catch the AssertionError and pass it through to `pushFailure`, including the stack.

Supporting node's assert module also sounds interesting.

[2015-09-29 10:17] jzaefferer opened #865 "Extract deepEqual implementation with tests to share it with other libraries?"
At least node has its own implementation of deepEqual, as part of the assert module. I have no idea how close their implementation is to ours, might be worth investigating.

[2015-09-30 17:22] #843 closed

[2015-09-30 17:30] #860 closed

[2015-10-02 21:56] platinumazure opened #868 "Automated migration tools for QUnit 2.0 syntax"
Hi folks,

I've been working (occasionally) on a QUnit migrator tool, [platinumazure/qunit2-migrator][1]. Today I learned of another tool being developed, [apsdehal/qunit-migrate][2].

Before I get too much further, I'd like to confirm with the QUnit team: Are there any plans to create or support a migration tool? If so, what do I need to do to either win support for what I have done or to gracefu

[2015-10-03 00:24] jzaefferer commented on #868
As a quick note: We should add links on both the plugins and the upgrade guide pages to available migration tools.

I'll get back to the actual question later.

[2015-10-05 14:52] leobalter opened #869 "Improve module environment inheritance with a Object.create like"
Ref https://github.com/jquery/qunit/pull/859#discussion_r40965697

Instead of using QUnit's `extend` method to extend a module's env. inheritance, we should improve it with a Object.create's like inheritance.

Suggested by @gibson042:

[code]

We could also use `Object.create` adding a [polyfill](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/create#Polyfil

[2015-10-05 16:36] romanmikhailov opened #870 "beforeEach, afterEach hooks not called if run second time after previous at least one test failed"
I have next suite:
[code]

When I run it first time I received in console next messages:
[code]
Result of execution:
[code]

When I run it second time I received only next messages:
[code]
Result of execution:
[code]

As you can see in second run `before each` and `after each` of `Third unit test` is not called.

[code]

As I noticed `Test#hooks` not add `beforeEach`, `afterEach` hooks as it not p

[2015-10-05 16:52] leobalter commented on #870
Confirmed: http://jsbin.com/yiqazobulo/edit?html,js,console,output

Thanks for this comprehensive bug report. Would you have time to write a fix for it?

[2015-10-06 11:01] jzaefferer commented on #868
It looks like your tool is based on AST transforms, while @apsdehal's tool is using regex. He mentioned (https://github.com/apsdehal/qunit-migrate/issues/4#issuecomment-145562918) that he'd like to switch to using JS AST, so that seems like a good opportunity to collaborate. It would be great to have one really solid tool instead of two that mostly solve the same problem.

@apsdehal since you ment

[2015-10-06 18:43] leobalter commented on #838
Well, this is probably related to ember-qunit, but:

[code]

You're expecting 0 assertions to run and still run the `expectElement(...)`. I'm not sure but that might be the assertion triggering the `Expected 0 assertions, but 1 were run@ 217 ms` failure.

Even though, that `Expected at least one assertion` is weird but I can't see what's triggering it from the given example. Looks like a lost `tes

[2015-10-07 04:31] apsdehal commented on #868
@jzaefferer I can contribute to @platinumazure's tool, but the tool I developed came into existence mostly because of the custom needs of jquery-projects and the custom syntax. Thus I further modified it to a more general support. I can't immediately halt the development on it until @platinumazure's tool take care of different syntax, good wikis and a few other stuff. We can work together in that

[2015-10-07 04:35] platinumazure commented on #868
@apsdehal The syntax tree transformation I selected, [recast](https://github.com/benjamn/recast), was chosen specifically to try to preserve existing syntax and spacing and things, although it does have a few bugs when new statements are generated. Could you please either provide me some test cases using jQuery or other custom syntax, or try running the tool against said syntax, and open issues (o

[2015-10-07 04:37] apsdehal commented on #868
@platinumazure You can select data number 8, 9 and 10 from https://github.com/apsdehal/qunit-migrate/tree/master/tests/data. These all have been taken from jquery projects.

[2015-10-07 08:42] miherlosev opened #871 "Can I specify testTimeout for individual test?"

[2015-10-07 09:14] mixed commented on #871
Do you want [[it](https://api.qunitjs.com/QUnit.config/)]?
[code]

[2015-10-07 09:19] miherlosev commented on #871
No. It is global timeout for all tests.
I need specify timeout for single test.
Pseudo code:
```javascript```
test('test1', function(){}, 2000);  //Timeout 2 sec
test('test2', function(){}, 3000); //Timeout 3 sec
etc.
[code]

[2015-10-07 12:27] platinumazure commented on #868
Understood. I'll give it a try in the next couple of days.
On Oct 6, 2015 11:37 PM, "Amanpreet Singh" <notifications@github.com> wrote:

[2015-10-07 13:33] JamesMGreene commented on #871
No, but it's not hard to do it yourself.

[code]

[2015-10-07 13:37] JamesMGreene commented on #871
You could also easily wrap the above functionality into your own plugin or helper method.

[2015-10-07 13:43] miherlosev commented on #871
Ok.

[2015-10-07 14:58] leobalter opened #872 "Set QUnit config via function"
I would like to set QUnit.config settings through a function call, like:

[code]

This way we can make a better handle for other options, like setting a custom reporter like:

[code]

This also allows settings definitions through a json file, imported and applied to QUnit.config.

---

If this is not possible I would have to set the custom reporter (and maybe other features in the future)  through

[2015-10-07 15:31] leobalter commented on #871
With sensible parts for the test method coming until 2.0, and as this is probably better being wrapped in a helper method, I'm closing this for now.

[2015-10-07 15:31] #871 closed

[2015-10-07 15:54] jzaefferer commented on #872
I don't quite understand the usecase. The reporter example seems easy enough to accomplish using the current approach, without adding anything new.

"How to register reporters" is an interesting question though. We should look at options for that first.

[2015-10-07 22:07] leobalter commented on #870
This regression came from fdf00a4. I'll see how can I avoid both problems.

[2015-10-08 00:48] #664 closed

[2015-10-08 00:49] #543 closed

[2015-10-08 00:49] #858 closed

[2015-10-08 08:11] romanmikhailov commented on #870
@leobalter what about we change current behavior:
[code]
with next:
[code]

[2015-10-08 15:30] ebenoist commented on #496
@leobalter I'll take a look. I finally carved out some time for this, I hope to get something up today.

[2015-10-08 15:32] leobalter commented on #496
nice! I'm looking forward!

[2015-10-08 15:33] leobalter commented on #868
It is great to see how this is going. Ping me if you need any help.

[2015-10-08 19:44] ebenoist commented on #496
So after looking at this for a bit, the simplest way to accomplish this would probably be to set the filter and clear out the current config.queue:

[code]

For the reporter I can then list the number of tests skipped by doing Test.count - 1. And do some custom styling to show that the test was the only test being ran.

For testing I should be able to make sure that this test module runs first and

[2015-10-09 11:29] jzaefferer commented on #496
That sounds good to me.

[2015-10-09 15:39] leobalter commented on #496
The method implementation seems great.

For the tests we can isolate it on a different html file, repeating the failing tests after the `only` call and in other modules.

Also it is good to include a successive `only` call with a failing test, this way we make sure only the first registered `only` will run.

---

Regarding the module approach: it might be good to discuss it with the nested modules

[2015-10-09 15:47] ebenoist commented on #496
Great! I should be able to polish this up over the weekend or by early next week. I'll hold off on any module changes, but I really like the idea of using QUnit.only as a stand-in for a module as well. I think isolating modules is really where this feature begins to really shine. With that said, I'll put a PR up for just the simple case and we can iterate into something more robust.

Thanks for th

[2015-10-09 15:57] leobalter commented on #496
Agreed

The nested modules are already on the master branch, but having a PR for tests only will make it faster for a first release.

[2015-10-09 16:43] gibson042 commented on #496
@leobalter Sounds exciting! I think the biggest hurdle will be addressing the synchronously-invoked `module` callback vs. asynchronously-invoked `test` callback, but that looks tractable to me.

[2015-10-15 22:01] leobalter commented on #496
@ebenoist I'm very excited and looking forward to see your implementation. I would love to see your PR.

[2015-10-16 19:42] jzaefferer commented on #870
Will be addressed by #873

[2015-10-16 19:44] jzaefferer commented on #869
Sounds good to me. Would help to see an actual implementation.

[2015-10-16 19:44] jzaefferer commented on #869
For the `Object.create` polyfill, we can inline that without the comments, but with a `// Support ...` comment.

[2015-10-16 19:47] jzaefferer commented on #868
How about we add links to both tools (while they're not merged, or whatever will happen) to the plugins page and the top of the migration guide? With those in place we can close this ticket, then update the links later as things progress.

[2015-10-16 19:56] jzaefferer commented on #865
Looking around a bit, I found three distinct implementations, all with their own tests. There's definitely potential to share at least tests, better yet implementation.

- substack's node-deep-equal [implementation](https://github.com/substack/node-deep-equal/blob/master/index.js), [tests](https://github.com/substack/node-deep-equal/blob/master/test/cmp.js)
- chai's deep-eql [implementation](https

[2015-10-16 20:05] jzaefferer commented on #855
Core is not going to test against Safari 7.0 anymore, so we don't have to bother either.

[2015-10-16 20:05] #855 closed

[2015-10-16 20:06] jzaefferer commented on #846
@platinumazure is this still something you want to work on?

[2015-10-16 20:13] platinumazure commented on #846
Ack, sorry, I've been busy with a bunch of other things. If anyone wants to jump on this now feel free.

[2015-10-16 20:32] jzaefferer commented on #840
This seems reasonable. It sounds like it shouldn't be too complicated to implement.

One thing that is unclear to me: How does it related to existing APIs? Would it replace anything? Or just be an optional API on top of `config.autostart = false` and `QUnit.start()`?

[2015-10-16 20:33] jzaefferer commented on #838
Closing due to inactivity and inability to reproduce the issue.

[2015-10-16 20:33] #838 closed

[2015-10-16 20:37] jzaefferer commented on #827
Let's go with `.pushResult({ result, actual, expected, message, negative })`. The existing `push()` method can be updated to map to the newly added method.

[2015-10-16 20:38] jzaefferer commented on #865
For anyone interested in this: Should try to port QUnit's tests to one or all of the other modules and see what fails. We can use those failures to start a discussion with the module owner, along with talking about browser support and whatever else.

[2015-10-16 20:39] jzaefferer commented on #824
For the record, no, that's not intended. Looking for help to get this fixed.

[2015-10-16 20:40] jzaefferer commented on #816
@platinumazure I guess this is also something that fell out of sight? Would be great if you could still put together the failure case we discussed above.

[2015-10-16 20:41] jzaefferer commented on #789
Closing due to inactivity. For anyone still interested in this, I think my previous comment still applies:

[2015-10-16 20:41] #789 closed

[2015-10-16 20:44] jzaefferer commented on #741
The migration from QUnit to Intern doesn't affect QUnit itself, and we're not abandoning QUnit anytime soon. So I'm closing this, since I don't think this ticket provides any value.

[2015-10-16 20:44] #741 closed

[2015-10-16 20:47] jzaefferer commented on #707
This should use https://www.npmjs.com/package/rollup for the bundling.

[2015-10-16 20:48] jzaefferer commented on #658
We haven't had any related issues in a long time, nevermind.

[2015-10-16 20:48] #658 closed

[2015-10-16 20:51] platinumazure commented on #816
Yeah, I've been trying to think of one besides my RequireJS case with no
luck. Still noodling on this one.
On Oct 16, 2015 3:40 PM, "Jörn Zaefferer" <notifications@github.com> wrote:

[2015-10-16 20:52] jzaefferer commented on #403
Phantomjs 2.0 is still not ready. PhantomJS 1.x is still bad. Whatever.

[2015-10-16 20:52] #403 closed

[2015-10-16 20:52] jzaefferer commented on #816
Okay, thanks. Let us know either way.

[2015-10-16 21:00] csnover commented on #741
Why not? Seems like a lot of wasted effort to duplicate features instead of working together :(

[2015-10-17 18:06] jzaefferer commented on #865
After talking to @jdalton about this: We should try to replace our `deepEqual` implementation with the one in lodash. We can run our existing tests to see if there are (significant) differences in the design. If it works out well, we could promote the lodash implementation to those other projects listed above.

[2015-10-17 18:14] jzaefferer commented on #865
@jdalton I've read https://lodash.com/custom-builds and some other resources, but don't see an option for a (custom) compat build with just isEqual (with dependencies, `global` or `umd` exports). What am I missing?

[2015-10-17 19:59] jdalton commented on #865
via lodash-cli:
[code]
of via browserify after you `npm i lodash.isequal`:
[code]

[2015-10-17 20:27] jzaefferer commented on #865
I just tried to replace the `QUnit.equiv` call in `assert.js` to use `_.isEqual` instead, and all tests still pass. That's great!

Still need to figure out how to properly integrate lodash into our build, since this is the first external dependency.

[2015-10-18 00:31] rdugue commented on #846
Hello, I would like to make a pull request if possible.  Should `config.current.semaphore` be set to a specific value in this case?

[2015-10-18 02:29] gibson042 commented on #846
Given that it's already a configuration failure, I don't think the value matters much. But I suppose `0` would let us just get on with the rest of the suite.

[2015-10-18 02:44] JamesMGreene commented on #741
I think @csnover's question is a more interesting one now given the impending changes to the Foundation.

[2015-10-18 02:45] JamesMGreene commented on #403
Huh?

[2015-10-18 02:46] JamesMGreene commented on #707
Why not just switch wholesale to Babel?

[2015-10-18 03:47] mzgol commented on #707
There's still a question of bundling. Babel can transpile ES6 modules to SystemJS, AMD or CommonJS but you still need to somehow bundle it all up and it's better to choose a method that doesn't introduce a lot of overhead. rollup seems to gain momentum now.

[2015-10-18 16:10] #846 closed

[2015-10-19 15:30] Krinkle commented on #840
@jzaefferer I'm not sure yet but I'm thinking it would be best implemented underneath the existing API. Then re-implement the static/global `config.autostart` and `QUnit.start()` functionality on top of this new API as consumer in e.g. `QUnit.load`.

[2015-10-20 16:25] #870 closed

[2015-10-20 17:51] #528 closed

[2015-10-20 17:57] leobalter commented on #869
I want to investigate using LoDash's `_.create` as we might use `_.isEqual` in #865

[2015-10-20 21:39] arghgr opened #879 "Update jscs to latest"
As mentioned in #876, grunt-jscs may not be catching certain style errors and needs to be updated to the latest version.

[2015-10-20 22:21] jzaefferer commented on #869
Good idea. It'll be a while until I can get back to working on the build to include lodash modules, so feel free to take that over.

Maybe we should start by trying to switch to ES6 modules (again), with rollup? Then add more dependencies from there.

Or maybe using webpack? I had good experience with that on other projects. It would certainly deal well with a mix of internal ES6 modules and exter

[2015-10-21 15:56] leobalter commented on #879
a jscs update might include jshint as well.

[2015-10-21 17:35] jdalton commented on #865
You could go the webpack route and include `isEqual` as either `require('lodash/lang/isEqual')` or `require('lodash.isequal')`.

[2015-10-21 17:35] jdalton commented on #865
I can prep a PR tonight to flesh a possible approach out.

[2015-10-21 17:48] leobalter commented on #865
That would be great, @jdalton!

It looks like replacing internal deepEqual is the easiest part, but it needs some good strategy using webpack/browserify.

[2015-10-21 18:35] jzaefferer commented on #865
Yeah, switching to internal modules internally is currently the bigger issue. Though if we make that work with webpack, it'll be super easy to add external modules.

[2015-10-21 22:05] leobalter opened #881 "Throw warnings for deprecated features."
QUnit should throw warnings (reporter/console) for deprecated features, including:
- use of global methods instead of the namespaced methods. (some can be easily fixed with local variables like: `var test = QUnit.test;`)
- use of stop/start methods
- etc

Also it should mention the qunit-migrate tools.

[2015-10-22 00:08] jzaefferer commented on #881
I don't think we need an additional migration layer. 2.0 will throw helpful errors for removed features, for anything not yet migrated.

[2015-10-22 01:16] leobalter commented on #881
Having warnings for deprecated features on 1.x helps on the migration process, so a run using the last 1.x without any warnings would result on a safe and clean migration to 2.0

[2015-10-23 12:02] rdugue commented on #788
I made some changes on a branch to run jshint/jscs only modified files but it is actually making grunt watch run ~2 seconds slower for me.  You can see the change I made [here.](https://github.com/rdugue/qunit/blob/issue-788/Gruntfile.js#L193)  I'm going to test some more.

[2015-10-25 01:45] scinos opened #883 "`raises` is not exported in the global scope in QUnit pre-2.x"
`Assert.prototype.raises` is an alias for `Assert.prototype.throws`, but only the latter is exported in the global scope. Example:

[code]

[2015-10-25 16:17] #496 closed

[2015-10-25 16:29] leobalter commented on #879
@arghgr I'm looking forward a PR to fix this one. :)

[2015-10-27 02:17] #883 closed

[2015-10-28 20:00] csnover commented on #741
If nothing else it would be useful to me if you could explain why you think there is no value in collaborating and/or why you do not want to do so.

[2015-10-28 20:31] leobalter commented on #741
Collaborative work is always great, but abandoning QUnit is not my option right now. It's old but still works great. I like QUnit being simple and not trying to ship tons of extras as we already find some you already mentioned here Intern does.

There is a lot of things I would love to have more available time and more contributors to make QUnit better, that does not mean I'm abandoning the projec

[2015-10-28 21:31] csnover commented on #741
Sorry, I still don’t understand but would like to understand why it is your feeling that it is better to continue to maintain/develop QUnit instead of working on unifying a code base. I will try to ask some specific things so I can maybe explain my confusion so you can tell me more about where you are coming from:

Can you tell me how the new features you plan to add to QUnit are differentiated fr

[2015-10-29 12:09] jzaefferer commented on #403
See https://github.com/Medium/phantomjs/issues/288 which lead me eventually to https://github.com/ariya/phantomjs/issues/12948

[2015-10-29 12:14] jzaefferer commented on #865
@jdalton any idea if you'll be able to work on this?

[2015-10-29 13:29] jdalton commented on #865
Yes, I'll try to get something working this weekend. Last weekend I was unblocking rollup (es6 module bundler). This weekend can be QUnit bundling time. The switch may want to be put on hold though until after the 4.0 bump as lodash's 3.10.1 doesn't support map/set comparisons.

[2015-10-29 14:02] jzaefferer commented on #865
Sounds goood. Making progress on bundling will be valuable either way.

[2015-10-30 00:20] leobalter opened #890 "QUnit.reporter( reporter [, options ] );"
After talking to Jörn today, we decided to create this reporter method to call custom reporters for QUnit.

On QUnit 2.0, it's gonna be necessary to call it even for the HTML Reporter.

This should be made on top of the new EventsEmitter interface, so it depends on #882.

To make it work and test it, we need to implement a simple custom reporter, probably a tap output. [`qunit-tap`](https://github

[2015-10-30 00:21] leobalter commented on #881
After talking on a meeting today with @jzaefferer, we decided to keep this issue and land it before QUnit 2.0

[2015-10-30 00:23] leobalter commented on #472
@jzaefferer I'll try to address this issue on #882

[2015-10-30 00:26] leobalter commented on #405
This is solved by #890 (before QUnit 2) and js-reporters (after QUnit 2)

[2015-10-30 01:07] leobalter opened #891 "Meta: The QUnit 2.0 plan"
QUnit 2.0 is close, and we only have some a few issues to solve until it's done. This is a meta issue with the agenda for the new QUnit 2.0:

- [ ] #422 EventEmitter - PR at #882
- [x] #890 QUnit.reporter method with built-in tap
- [ ] #881 Throw warnings for deprecated messages
- [x] Release the last QUnit 1.x before QUnit 2 (no new features until QUnit 2)
- \o/
- [x] Remove the warnings for depr

[2015-10-31 13:28] jzaefferer commented on #890
That wasn't my understanding. Unless there's a good reason to require that, I'd stick with the default.

I'm not sure this is a good idea either. Even if QUnit bundles reporters, it should still be easy enough to get an instance and pass it to the reporter method.
[code]

[2015-10-31 13:29] jzaefferer commented on #890
As far the `runEnd` event, I don't see why the extra property needs to be nested under an `output` property. I can't think of any reason why the extra property, like `tap` or `junit`, would clash with any of the existing properties.

[2015-10-31 14:20] gibson042 commented on #890
I share @jzaefferer's disinclination towards `QUnit.reporter( str )`, and the `runEnd` output seems like code talking to itself. I say YAGNI on that, but second the extra isolating property if/when we do want such functionality.

[2015-11-04 17:16] platinumazure commented on #868
@jzaefferer :+1:

@apsdehal Sorry for not getting back to you-- I've been incredibly busy at work. I'm hoping to try my tool out on your test cases this week.

[2015-11-09 14:33] NoelAbrahams commented on #819
Just came around to look into this. The problem above can be reproduced by removing the element with id `qunit`.

Basically, we wanted to have our own header, so we had manually added the following HTML to the page:

[code]

This actually works, except that `hidepass` is not honoured.

The problem code is the following in `QUnit.begin`

[code]

This code is inconsistent, because the `hidepass` is

[2015-11-09 15:35] taras opened #892 "QUnit Tips and Tricks on Global Ember Meetup"
EmberCLI uses QUnit as it's default test runner. Most people in Ember community use it on daily bases, but there are probably more advanced techniques that they're not familiar with.

Would someone who knows QUnit well be interested in giving a lightning talk on "QUnit Tips and Tricks" at next [Global Ember Meetup](http://global-ember-meetup.com) in 2 weeks?

[2015-11-11 02:51] leobalter commented on #892
That's cool, but I'm afraid there's not a lot of unknown tricks on QUnit, but you might be interested to know on the QUnit roadmap and it is affected by Ember, not only on the development of features, but with a similar release process.

[2015-11-11 02:54] leobalter commented on #892
@gibson042, @jzaefferer are you interested? Otherwise I'm in. :)

Thanks for the invite, @taras!

[2015-11-11 03:38] gibson042 commented on #892
I think you're it, @leobalter!

[2015-11-11 14:51] taras commented on #892
I agree, people would find this very interesting.

Would you be able to prepare something for November 21st?

Here is a link to the event https://www.bigmarker.com/global-ember-meetup/Ember-Testing-Day

[2015-11-12 02:03] trentmwillis opened #893 "Introduce beforeAll/afterAll module hooks?"
I'd like to propose adding in `beforeAll`/`afterAll` hooks to test modules. Similar to the functions of the same name in Jasmine or `before`/`after` in Mocha. It would be convenient to have a way to access the testing context at the start and end of a module on a case-by-case basis instead of just the sweeping `moduleDone` and `moduleStart` callbacks.

I apologize if this has been discussed before

[2015-11-12 05:24] gibson042 commented on #893
If I correctly understand what you want, this is [already possible](http://api.qunitjs.com/QUnit.module/): http://jsfiddle.net/8zfLqk0r/
[code]

[2015-11-12 05:45] trentmwillis commented on #893
@gibson042 not quite, guess I should've explain myself a bit more clearly.

What I'm looking for are hooks to run at the beginning of a module and at the end of the module, rather than at the beginning and end of each test. [Similar to what is done in Jasmine.](http://jasmine.github.io/2.3/introduction.html#section-11)

[2015-11-16 16:27] leobalter commented on #892
Sure! It is very exciting to share the experience with Ember community! I'm looking forward!

[2015-11-16 16:28] taras commented on #892
Awesome, I’ll add you to the list.

-- 
Taras Mankovski

On November 16, 2015 at 11:27:49 AM, Leo Balter (notifications@github.com) wrote:

Sure! It is very exciting to share the experience with Ember community! I'm looking forward!

—
Reply to this email directly or view it on GitHub.

[2015-11-17 17:55] cjmaynar commented on #893
This would be pretty useful indeed. I'm looking for something like Python UnitTest's setUpClass/tearDownClass methods that will run once before any tests are run, and then once after all the tests are complete

[2015-11-17 18:13] leobalter commented on #893
@trentmwillis that would be an interesting feature. If it was discussed before - certainly mentioned at least - I believe we should try it.

I would name them before/after module hooks, removing the `All`, it's easier to match beforeEach and afterEach.

PRs are welcome!

[2015-11-18 13:31] JamesMGreene commented on #893
It is definitely a feature that we've seen requests for before. I myself would like that capability as well.

[2015-11-18 13:39] JamesMGreene commented on #893
P.S. We didn't implement it in the past because there was already a decent plugin available for it: [qunit-once](https://github.com/bahmutov/qunit-once).

However, I would imagine that [old] plugin does not currently offer all the niceties that a built-in set of hooks easily could, i.e. guarantee `before` callbacks to run _before_ any `beforeEach` callbacks, guarantee `after` callbacks to run _aft

[2015-11-18 15:35] jzaefferer commented on #893
From the Jasmine docs:

This gotcha sounds like a good reason to not offer this feature in the first place. That said, does someone have an example for the "speed up test suites" usecase? Are there other usecases? Usecases with examples would help a lot, both to justify implementing this and given an implementation, to document this feature properly.

[2015-11-19 15:01] martndemus opened #894 "Allow `testEnvironment` to be accessed within a `test` without `this`"
I already made a case for this in rwjblue/ember-qunit#212:

_s/context/environment/_

An example:

[code]

I'll open a PR a soon as I've got some confirmation that something like this is OK.

[2015-11-19 15:33] leobalter commented on #894
As I mentioned there, I wonder if it's better to set `env` as a property of the `assert` object.

It's been discussed here and, if I'm not wrong, @gibson042 and @Krinkle have some arguments to avoid an extra parameter. One of them is messing up with any QUnit extensions using a second argument for anything else.

Also, the env could be easily handled, and the arrow function can be set without `()`

[2015-11-19 17:27] gibson042 commented on #894
My main concern was keeping our `module`/`test` callback signatures similar, but it looks like that ship has sailed (not necessarily in a bad way, though, because module callbacks are invoked synchronously but test callbacks are not—they're different beasts).

I am opposed to extending the `assert` object (in part because I'd like to eventually support drop-in assertion library replacement), and d

[2015-11-25 19:12] bworsfold commented on #807
This worked for me as well using karma@0.13.15, karma-qunit@1.8, karama-requiresjs@0.2.2 and requirejs@2.1.22.  Seems the karma initializer just puts them in the wrong order.  Thanks for sharing!

[2015-11-26 19:58] joeJazdzewski opened #895 "QUnit DeepEqual using two strings"
I was testing some code using qunit my test kept failing so I tested

    var str = new String("hey there");
    var s = new String("hey there");
    assert.deepEqual(s, str);
    assert.equal(s, str);

both equal trys failed

[2015-11-30 10:27] jzaefferer opened #896 "hidepassed needs to check for the right element"
From #819:

---

Just got around to looking into this. The problem above can be reproduced by removing the element with id `qunit`.

Basically, we wanted to have our own header, so we had manually added the following HTML to the page:

[code]

This actually works, except that `hidepass` is not honoured.

The problem code is the following in `QUnit.begin`

[code]

This code is inconsistent, because

[2015-11-30 10:27] jzaefferer commented on #819
Thanks, I've filed #896 to track that issue.

[2015-11-30 11:03] tiriana commented on #807
@ldez I didn't want to believe it, but it works perfectly fine. thx.

[2015-12-01 02:18] platinumazure commented on #895
`new String` will result in the types actually being objects, not strings. So I would expect `assert.equal` to fail since `str == s` is false. As for `deepEqual` failing, my guess is your implementation stores an ID (or hash code, or...) within the string object, and so `deepEqual` will fail as well when it compares property-to-property.

Try using string literals rather than objects. For example,

[2015-12-02 16:31] leobalter commented on #895
I can't see a good reason to instantiate string objects using the new String form. If you really need to stick with it, keep in mind different object instances will not pass on the simple equal comparison, if what you want to compare is the value, you can catch its value instead.

[code]

Both in `==` (equivalent to `assert.equal`) and `===` (equivalent to `assert.strictEqual`) you will only have

[2015-12-07 07:43] mrjohn0011 opened #899 "notOk assertion has wrong label"
1. Write test with assert.notOk(true);
2. Run test and see expected: "NOT false", but really expected is "NOT true"

In the following example, $item has css-class "dx-state-focused", so, expression is TRUE, but the label is "NOT false"

![uf4uqnr](https://cloud.githubusercontent.com/assets/16186141/11621628/34a5f762-9ccf-11e5-9b1e-59c831a8215f.png)

[2015-12-07 14:52] leobalter commented on #899
Confirmed.

As `assert.ok` says `expected: true`, `.notOk` should express a `NOT true` or `false`.

[2015-12-07 16:40] JamesMGreene commented on #899
Technically, they should probably say `NOT truthy` and `NOT falsy`.

[2015-12-07 16:44] leobalter opened #900 "`grunt coveralls` is breaking on CI"
As seen on https://travis-ci.org/jquery/qunit/builds/95372466 `grunt coveralls` is breaking.

I was able to reproduce the error on a local env using both Node 0.10 and 5.1.0

[2015-12-07 16:50] leobalter commented on #899
It would be a ++ to solve it this way.

I am linking this issue to some friends as a "Good first PR".

[2015-12-07 16:59] #900 closed

[2015-12-07 19:15] zensatellite commented on #807
@ldez ++

[2015-12-07 19:46] leobalter commented on #899
re-reading this:

assert.ok => the default *expected* value should be a `truthy`, or `true`
assert.notOk => the default *expected* value should be a `falsy`, 'not truthy', or `false`

These values are for the Expected parameter used for diff purposes, not the result message.

[2015-12-07 21:18] JamesMGreene commented on #899
Right-o, @leobalter.

[2015-12-08 09:06] cherouvim commented on #407
Would a configuration for switching these around in QUnit.config make sense?

[2015-12-08 15:15] leobalter commented on #407
@cherouvim probably not, the idea is to have the API remaining simple and consistent, in a way it's easy to work with QUnit on any project.

[2015-12-08 15:19] cherouvim commented on #407
I agree with that mentality. The problem is that moving over from JUnit the assertions are a bit confusing. Not a showstopper though.

[2015-12-08 21:08] FagnerMartinsBrack commented on #407
The only problem with this is [when using constants](https://github.com/jquery/jquery/commit/d3d8d9751f3d14a545b26cf820dc1f51896a7b50). So, to prevent a "[boolean-trap](http://ariya.ofilabs.com/2011/08/hall-of-api-shame-boolean-trap.html)-like" problem, one can always use the "Assertion Declaration Pattern" (yeah I just made that up):

[code]

[2015-12-09 16:09] leobalter commented on #788
Closed by #886

[2015-12-09 16:09] #788 closed

[2015-12-09 16:46] leobalter commented on #890
As talked on the last QUnit meeting, I'm dropping this idea.

Using different reporters through npm modules should be easier to register them, like loading QUnit and QUnit-tap. or any other reporter.

With the reporter being loaded, it should handle all the QUnit callbacks, it's not necessary to call QUnit.reporter.

[2015-12-09 16:46] #890 closed

[2015-12-09 16:47] leobalter commented on #891
#890 was dropped.

[2015-12-09 17:17] MMD-Coding commented on #899
Hey, finally found an issue to submit for 24pullrequests :smile: Thanks for letting it open.

I would like to fix it, but I'm not really sure if I just replace the `expected` argument with a string. If I do so it looks a bit weird because it adds quotes to the "Expected: ..." output. I would propose just to remove the `negative` argument on `assert.notOk` and leave the rest. What do you think?

[2015-12-09 17:22] leobalter commented on #899
the negative assertions are prefixed with a "NOT" label on the HTML Reporter, the expected value is `false` (or equivalent) on `.notOk`.

the label prefix on negative assertions makes sense to every other assertions as notEqual, notStrictEqual, notDeepEqual, etc, but it shouldn't be applied to `notOk`.

[2015-12-10 00:59] #899 closed

[2015-12-10 09:53] jzaefferer commented on #881
There should be an option to disable the warnings. For example, in jQuery UI there's the $.uiBackCompat` flag, which turns off the back-compat layer, to test if the next release (where deprecated features are dropped) will still work. That's different from warnings, but we can do something similar here.

[2015-12-14 19:58] trentmwillis commented on #893
Sorry for letting this sit for so long.

@jzaefferer that gotcha is definitely something to highlight if this feature does move forward.

Currently my team would like this feature for generating mock data at the beginning of a module and tearing it down at the end. While we could definitely do this with `beforeEach/afterEach` we get a perf benefit from not having to generate a new mock before each

[2015-12-14 20:57] trentmwillis opened #904 "Regex test filtering"
Would it be possible to introduce regex test filtering? There are cases where we want a subset of our test suite to run but can't achieve it with a simple string filter. Maybe my thinking is naive, but it seems like we should be able to take the filter string and cast it to a regular expression and test the test names against it.

This would probably require an additional config option to treat th

[2015-12-15 01:31] #892 closed

[2015-12-15 15:47] leobalter commented on #904
This is a good question and I would like to discuss before making a decision.

I currently have some limited filters as filtering by the test names, the module filters and using `QUnit.only` for single test blocks.

It does not look like a problem to cast the filter string to a regular expression.

QUnit.pending (not implemented yet) would be helpful here but it targets a different strategy.

[2015-12-15 15:48] leobalter commented on #904
The config option might be too much, we should try casting the filter string as a regular expression without any option to enable or disable it, the option would be an unnecessary complexity.

[2015-12-15 15:50] leobalter commented on #896
good catch. I'll see if I can fix it soon.

[2015-12-15 16:05] gibson042 commented on #904
Using the existing parameter is fine by me, but we'll need some in-band method of differentiating string matches from regex patterns (similar to the preexisting [leading `!` for filter inversion](https://github.com/jquery/qunit/blob/efe03030a6f22ff002de8ee6164b74af74018254/src/test.js#L392-L395)) so regex-special characters can still be matched literally. E.g., something like `filter=/regexp?/i` (

[2015-12-15 16:27] gibson042 opened #1747 "Document URL parameters for HTML Runner"
Assuming the QUnit URL parameters are to be treated as part of the public interface (rather than just a mechanism for conveying GUI interactions to subsequent loads), we should document them:
- `filter` → `QUnit.config.filter`
- `seed` → `QUnit.config.seed` (boolean `true` replaced with a random string)
- `module` (`QUnit.config` relation to be determined by jquery/qunit/issues/956)
- `testId` → `

[2015-12-15 16:42] leobalter commented on #904
seems right.

We may also trigger the regexp match if the filter value matches a valid regexp literal notation (using the `/content/params?`

I'm interested to see how it might be implemented. @trentmwillis would you like to try a PR with it?

[2015-12-15 17:22] trentmwillis commented on #904
These cases are actually why I thought an additional config option might be valuable as it takes some of the guess work out of determining what sort of pattern we're using. For example, what I'm seeing with the above is:

`/components/g` -> Does a global regex search for `components`
`/components/s` -> Does a regex search for `/components/s`?

I think trying to determine if we should be treating v

[2015-12-15 18:58] gibson042 commented on #904
The mechanism doesn't matter to me, as long as behavior is predictable and we maintain backwards compatibility with respect to non-initial special characters.

[2015-12-16 00:52] trentmwillis commented on #904
Did an implementation that added an additional config option. @leobalter if you feel strongly that we should not add another config option, I can explore other alternatives.

[2015-12-17 08:36] jzaefferer commented on #904
Btw. I feel strongly that we should not add another config option.

[2015-12-17 18:17] trentmwillis commented on #904
Noted, will attempt the other approach and update my PR.

[2015-12-18 09:22] mixed commented on #830
@jzaefferer @leobalter

I have invested it. This issues is related to config.reorder. Setting config.reorder QUnit run first failed test. Although Tests was same module Tests did not call same group like below case.
[code]
First Time order is `module1-test1 -> module1-test2 -> module2-test1`. Next Time order is `module1-test2 -> module2-test1 -> module1-test1` becacuse `config.reorder`.

QUnit has

[2015-12-19 15:24] gibson042 opened #909 "Regular expression comparison ignores ES2015 "unicode" flag"
e.g., `/\u{1D306}/u.flags === "u"`.

Using the new [`flags` property](http://www.ecma-international.org/ecma-262/6.0/#sec-get-regexp.prototype.flags) in [`equiv`:`callbacks["regex"]`](https://github.com/jquery/qunit/blob/41322e7a8f521096859cc9c767df088797ed0608/src/equiv.js#L82-L88) should future-proof us against all future additions.

[2015-12-24 17:04] mmun commented on #893
@trentmwillis But I don't see why that should be scoped to a module, it could be shared with all acceptance test modules. I would like to keep modules being simply a collection of tests as much as possible.

[2015-12-28 17:02] #904 closed

[2015-12-28 17:52] leobalter opened #910 "browserstack-runner is not recognizing some os_version from browsers"
Ref https://travis-ci.org/jquery/qunit/builds/99126461

I'll be able to look at it on Wednesday, at least it's returning 0 on the CI.

[code]

[2015-12-29 02:50] mmun opened #911 "Request: deepContains"
I'm not sure what the policy on adding new assertion helpers is but I figured I'd make an issue anyways.

I've often wanted an assertion similar to `deepEqual` but that only checks equality on the values specified in the on the "expected" side. Example,

[code]

The name is up for bikeshedding.

[2015-12-30 02:09] #895 closed

[2015-12-30 08:45] mixed opened #913 "Suggest add viewport meta tag for mobile."
Result page is hard to read in mobile. Adding meta tag looks good.
[code]
## sample
![photo_0](https://cloud.githubusercontent.com/assets/22300/12048301/bebe2f96-af1c-11e5-9d2f-2df77cf33da8.png)

## current
![photo_1](https://cloud.githubusercontent.com/assets/22300/12048302/c30a2b5e-af1c-11e5-8ebb-83069d0b45c6.png)

[2015-12-30 14:36] JamesMGreene commented on #913
:+1:

[2015-12-30 14:38] JamesMGreene commented on #913
So, typically the consumer is the one who provides the HTML page on which the unit tests are run. Are you just suggesting that it should be included on a sample page somewhere, like the one on qunitjs.com?

[2015-12-30 15:12] mixed commented on #913
@JamesMGreene
Failing my [pr](https://travis-ci.org/jquery/qunit/builds/99386558) I checked real browser in iOS. Finding it I suggested. So I thought that It add to all html in `/test` folder. But Adding to sample in qunit.js It seems to good since I saw your comment.

[2015-12-30 15:31] gibson042 commented on #913
We also might look into adding something to our CSS (media queries, viewport units, etc.).

[2015-12-30 15:50] leobalter commented on #913
@mixed You might want to include this here: https://github.com/jquery/qunitjs.com/blob/master/resources/example-index.html

The many people use the html example on qunitjs.com. We may add it here on QUnit's test html files but it will affect only those running QUnit's own tests.

That would be interesting too.

[2015-12-30 16:07] mixed commented on #913
@leobalter
Thank you. Can I change `example-index.html`?

[2015-12-30 16:23] leobalter commented on #913
sure, but it's on another repo: https://github.com/jquery/qunitjs.com

[2015-12-30 16:30] mixed commented on #913
@leobalter
OK. Done. https://github.com/jquery/qunitjs.com/pull/110

[2015-12-31 20:28] gibson042 opened #914 "QUnit.equiv ignores object methods"
https://jsfiddle.net/xcrh9n3d/

Since we verify inherited properties anyway, we should replace the weird constructor-based "function" callback with a simple `return false` (relying solely on the strict equality check in `innerEquiv`).

[2015-12-31 20:34] gibson042 opened #915 "QUnit.equiv treats Map and Set as ordered"
https://jsfiddle.net/xd2jnbLa/

I think we should ignore insertion order when comparing these objects ~~(along with WeakMap and WeakSet, which we ignore completely)~~.

[2015-12-31 20:42] leobalter commented on #915
There is no way to discover the collections on WeekMaps and WeakSets, that's why it's ignored and compared as regular objects.

+1 to this.

[2016-01-02 05:02] gibson042 commented on #914
Turns out this is intentional: https://github.com/jquery/qunit/blob/fd07a9bb8dcabbbccaa4dedbe3945cd544dd68c8/test/main/deepEqual.js#L1296-L1298

I'm not sure how I feel about that. @leobalter?

[2016-01-04 15:47] leobalter commented on #914
It looks like a bug on deepEqual, which would be ok on a propEqual use only.

Even if we use [LoDash's `isEqual`](https://github.com/jquery/qunit/issues/865) it looks like deepEqual is not doing it's job to call .equiv on the object properties.

[code]

on your jsfiddle example (copy/pasted above) I would expect all the assertions to fail, but the first is passing.

We can see it's not using `QUni

[2016-01-04 16:01] gibson042 commented on #914
`QUnit.equiv` is explicitly treating all methods as equal on non-plain objects: https://github.com/jquery/qunit/blob/5977d91111575c105a8f0dde1364fb37643fcdd4/src/equiv.js#L85

[2016-01-04 19:42] leobalter commented on #914
The origin is here: https://github.com/jquery/qunit/commit/b8b33e72fd2c161e618f7d0cc39404154b4f8b73#diff-2cec82a4b4b78d3fcff317475ff08e42L491 and here: https://github.com/jquery/qunit/commit/4ffe24154135512c585f6f04b3b597a6b7e2526c#diff-2cec82a4b4b78d3fcff317475ff08e42R112

This is a piece of code existing for 7 years and it might be interesting trying to get rid of it.

[2016-01-06 18:04] leobalter commented on #911
This seems interesting but currently it seems better to be included as an Assert plugin, not directly on the core api.

@jzaefferer, thoughts?

[2016-01-06 18:06] leobalter commented on #910
Not happening anymore.

[2016-01-06 18:06] #910 closed

[2016-01-06 18:11] leobalter commented on #913
@mixed, do you want to add a PR to add the viewport tag on QUnit's html files? So we may solve this issue.

[2016-01-06 23:48] JamesMGreene commented on #911
Definitely better off in a plugin, IMHO.

[2016-01-07 00:28] mmun commented on #911
Is there a way to write a plugin like this that reuses code from the deepEqual implementation? It's important that they have the same equality semantics.

[2016-01-07 00:36] #911 closed

[2016-01-07 02:27] mixed commented on #913
No. I found your [comments](https://github.com/jquery/qunit/issues/913#issuecomment-168022675) so I think that https://github.com/jquery/qunitjs.com/pull/110 sufficed for this issue.
Thank you.

[2016-01-07 13:37] jzaefferer commented on #911
In #865 we discussed/planned to replace our implementation with the one from lodash. If that goes through, you could build the plugin on top of the same implementation.

[2016-01-07 14:20] mmun commented on #911
Great! :)

[2016-01-07 15:32] leobalter commented on #911
Regardless the solution we find on #865, the idea is to expose it on `QUnit.equiv`. So you can start building a plugin on top of this method.

[2016-01-07 15:34] leobalter commented on #913
Thanks!

I'm looking forward to know if you wanna help on any other features/issues.

[2016-01-07 15:35] leobalter commented on #909
and it seems like a easy one to fix.

@mixed, would you like to help fixing this?

[2016-01-07 16:47] mixed commented on #909
@leobalter
OK. I have fixed it. :smirk:

[2016-01-08 04:47] JamesMGreene commented on #911
If you happen to be using this for Node.js, I'd recommend just using the ["lodash.ismatch"](https://www.npmjs.com/package/lodash.ismatch) sub-module (equivalent to [`_.isMatch`](https://lodash.com/docs#isMatch)) in a custom assertion, e.g.

[code]

[2016-01-08 07:38] mixed opened #917 "`jscs task` normally doesn`t working."
`jscs task` doesn't normally working because `grunt-jscs` version is low. `jscs task` is normally working when  `grunt-jscs` version up.

Ref #916

[2016-01-10 19:20] #909 closed

[2016-01-11 18:49] trentmwillis commented on #893
@mmun that makes sense and can explore that more in the appropriate Ember channels.

As for this issue, it seems like there are multiple persons interested in this, though I can only think of one potential use case, which could be argued isn't justification for the "gotcha" that @jzaefferer mentioned above. How do we want to proceed?

[2016-01-11 19:04] leobalter commented on #893
My concerns are only on naming it. The gotcha (leaking state to other tests) seems also as a developer's responsibility matter.

The feature makes a lot of sense on ember tests, including using QUnit for acceptance and integration tests.

[2016-01-11 19:23] trentmwillis commented on #893
Sounds good. I'll take a stab at implementation later this week.

As for the name, should we do `before`/`after` or `beforeModule`/`afterModule`? I think either would be fine, with the former providing more parody with other JS testing frameworks.

[2016-01-11 19:33] leobalter commented on #893
sure! and it seems they also connect well with `beforeEach/afterEach` semantics.

As I believe this will affect a lot of Ember tests, I would like to know if @rwjblue has any thoughts to add.

[2016-01-12 12:52] mikesherov commented on #707
At Behance, we use es6, with karma, Babel, and webpack to run our test suite.

Not sure if QUnit is architected in a way to allow preloaders for code, but perhaps that's where you start:

1. building infra that allows QUnit to use webpack + Babel or even Babel directly when loading test suites.
1. Use that infra to begin authoring QUnit and its test suite in ES6.
1. Release both.

[2016-01-12 12:53] mikesherov commented on #707
Why rollup over webpack?

[2016-01-13 16:28] leobalter commented on #917
we need to update our grunt jscs and jshint tasks.

This is a duplicate of #879.

@mixed, would you like to help on this one as well? It's more than just updating the packages, but also fixing some code styles.

[2016-01-13 16:28] #917 closed

[2016-01-13 16:47] mixed commented on #917
@leobalter
Ah.. OK.
If @arghgr don't mind it I can it. package update, fixing some code styles.

[2016-01-14 20:06] trentmwillis commented on #893
@leobalter and others, I started implementing this, but there are two finer details I'm stuck on:

1. For nested modules, should `before` run once before all tests in the module stack? Or, once before each module? Similar question for `after`. My thinking is that it should be once for the entire stack of modules.

2. Should we assume that modifications done to `this` (a.k.a., `testEnvironment`) in

[2016-01-14 20:24] leobalter commented on #893
TBQH, I don't know. It makes a lot of sense to stack the *Each hooks, but it seems better to not stack the modules only hooks. Someone more used to integration and functional tests would answer this better. Once again, @rwjblue might have a better perspective for this being used on ember-qunit.

Yes, I believe it should work similar to the other hooks and nested modules.

Exactly

[2016-01-15 01:50] trentmwillis commented on #893
This was my thought, and turns out this is how Mocha does it as well. So if you have two modules, `outer` and `inner`, the order of execution goes: `outer.before`, `outer.tests`, `inner.before`, `inner.tests`, `inner.after`, `outer.after`. I'll follow that pattern unless someone presents a valid reason to do otherwise.

[2016-01-19 11:46] mikesherov commented on #707
FYI, webpack has a decent comparison chart of all the different options: https://webpack.github.io/docs/comparison.html

They're the only one who followed @scottgonzalez's recommendation that "if you're going to exist, have a comparison chart explaining why you're existence is necessary".

[2016-01-29 14:09] gibson042 opened #923 "Separate module options from test environment"
Related:
* https://github.com/jquery/qunit/issues/894#issuecomment-158127790
* https://github.com/jquery/qunit/pull/919/files#r51184320
* https://github.com/jquery/qunit/pull/800#issuecomment-139293379

Note that there are _two_ ways to set before/after hooks (which are currently the only module options): as properties on an options object, and as methods on the argument passed to a callback. Expo

[2016-02-01 13:43] leobalter opened #1352 "Document deprecated API"
List all the deprecated parts of the API.

Ref https://github.com/jquery/qunit/pull/918#issuecomment-170965006

[2016-02-01 17:27] leobalter commented on #923
<3

This is not easy to handle, but I can't bring anything better as well.

I'll add this as priority before the next major release (at least a ready PR)

cc @trentmwillis

[2016-02-01 17:58] trentmwillis commented on #923
:+1:

This approach makes sense to me and if we land other breaking changes to the declarative hash (e.g., #919), then now seems like a good time to introduce this.

[2016-02-02 16:55] trentmwillis opened #926 "Run tests in random order"
In the [docs for the `reorder` config option](https://api.qunitjs.com/QUnit.config/), it notes that reordering failed tests can:

So, on a similar note, I'd like to propose adding the ability to specify that tests run in a seeded-random order. I think it would be relatively straightforward to introduce this as QUnit already has the infrastructure to reorder tests. This may not be particularly usef

[2016-02-02 22:02] jdalton opened #927 "reordered test runs issue"
I've run into an issue with Ember's unit tests when they upgraded from QUnit 1.18.0 to 1.20.0 with retrying tests. Before the rather long url of

*tests/index.html?testId=3cc72180&testId=76cb477a&testId=78ef0a1c&testId=d0487dc9&testId=1d54b55d&testId=db4d08bd&testId=ad7f8de5&testId=dd527213&testId=17371bf6&testId=5ee3df71&testId=d5a89651&testId=9a1a7024&testId=a85bac39&testId=7058f532&testId=1de16

[2016-02-03 01:03] leobalter commented on #927
haha. This is such an interesting issue while at the same time I'm expressing a big WTF checking this link.

@jdalton++

I'm not sure where to start here, but it's gonna be worth investigating. Probably a `git bisect` will help to find the source.

[2016-02-03 01:43] JamesMGreene commented on #927
Not sure if there is any hidden relationship but when I received the notification email from GitHub of @jdalton's comment, one of the ampersands came through as `&amp;` (or maybe `&amp ;`?) while rest were just `&`... looks approximately halfway through the list... maybe after 39?

[code]

[2016-02-03 01:45] jdalton commented on #927
The `QUnit.urlParams` object is still populated with 79 entries when only 39 are run.

[2016-02-03 01:46] JamesMGreene commented on #927
OK, just a random email fluke then. :+1:

[2016-02-03 18:59] tundal45 opened #928 "Add a Stop Execution button up top"
This might be just me but I feel that there are times where you want to run all the tests until their is a particular type of failure that you want to focus on. However, getting to that error to click rerun while the tests are running is impossible. So I was wondering if it would be useful to have a button that stops test execution and retains the results view up until that point.
1. Is this possi

[2016-02-04 06:32] mixed opened #929 "Suggest to fixture method."
If I have to use fixture It has some ways.
## 1. Add html in `#fixture`.
[code]
This case has some cons. `fixture` is too hard to read and maintain If I have many fixture. For example. It can't know `fixture` in [testcase](https://github.com/naver/egjs/blob/5dc0a716bdd6e4c78d7cb1e8dc7d566e1ca0febd/test/js/flicking.test.js#L96-L100). So. I search for `#fixture` in [html](https://github.com/naver/eg

[2016-02-04 18:10] leobalter commented on #929
@mixed, the proposal is interesting and it seems good enough to run without the need to access any internal from QUnit.

With that said, I believe this would be better published as another module/package, like `qunit-fixture` on npm.

[2016-02-08 17:44] jdalton commented on #927
Fixed in 1.21.0 by

[2016-02-08 17:44] #927 closed

[2016-02-08 22:35] leobalter commented on #927
@gibson042 and @mixed++, they worked on that fix.

[2016-02-08 22:50] jdalton commented on #927
![](https://cloud.githubusercontent.com/assets/4303/12901983/4200f512-ce73-11e5-82b8-11eca32a03cd.gif)

[2016-02-09 18:51] jdalton commented on #865
I should revisit this now that v4 is out.

[2016-02-09 19:08] jzaefferer commented on #865
That would be great! I think our deepEqual implementation has seen some improvements, but that shouldn't stop us from replacing it.

[2016-02-11 08:53] mixed commented on #929
@leobalter
Thank you. I have published a [qunit-fixture](https://github.com/mixed/qunit-fixture).

[2016-02-11 16:07] nikolas commented on #807
ldez's solution works for me as well.

[2016-02-14 23:11] kellyselden opened #930 "Copy deepStrictEqual and notDeepStrictEqual from node."
I currently polyfill these in my browser tests. It would be great if QUnit shared these functions. Added [here](https://github.com/nodejs/node/pull/639).

[2016-02-14 23:17] kellyselden commented on #930
After looking through the code, it looks like the deep functions are using strict. Interesting...

[2016-02-14 23:17] #930 closed

[2016-02-16 15:42] leobalter commented on #865
yes, I'm looking forward to it.

[2016-02-16 15:43] leobalter commented on #930
:+1:

We also have plans to replace the internal implementation of deepEqual, potentially using LoDash's isEqual: #865

[2016-02-16 21:32] leobalter commented on #929
That's great! You may add it to the plugins page at qunitjs.com

[2016-02-16 21:32] #929 closed

[2016-02-16 22:58] #827 closed

[2016-02-17 19:05] trentmwillis commented on #928
In my personal experience, when dealing with a large test suite this is definitely desirable. Especially when dealing with debugging a flaky test that is dependent on test order.

I know Ember currently supports this with a [`pauseTest` helper that returns a non-resolving promise](http://emberjs.com/api/classes/Ember.Test.html#method_pauseTest), but this only works when invoked from within a test.

[2016-02-17 19:08] tundal45 commented on #928
For now, I would be happy with a stop execution that just stops everything and the user can re-run the test if they want to. Maybe a pause could be implemented but I was envisioning the "simpler" just stop the world with this one.

[2016-02-19 05:27] gibson042 commented on #928
I could see doing this with something like `QUnit.config.queue.length = 0`, which would let the active test finish but abort all pending tests. The display elements would also need updating, e.g. to reveal the hidden `<li>` elements. PRs considered, I suppose.

[2016-02-19 22:31] trentmwillis commented on #928
Seems good to me. Depending on implementation, I don't think it would be hard to extend this to "pause" in the future.

I think this makes the most sense as far as stopping behavior is concerned.

@tundal45 would you want to take a crack at implementing?

[2016-02-20 04:13] tundal45 commented on #928
@trentmwillis @gibson042 Yes, I can take a look.

[2016-02-23 10:00] jangreis commented on #606
I'm having the same issue. The above code works but if you try to access item inside the test, it will always be equal to 3. It seems like the loop runs through all iterations and only then is the test called three times...

[2016-02-23 15:28] leobalter commented on #606
@jangreis that's a bad use on the for loop not defining a block scoped variable. If possible, try using a .forEach or even `let/const` inside the for loop block if you have it available.

[2016-02-23 16:12] trentmwillis commented on #606
@jangreis this is because the test callbacks aren't run synchronously. So the behavior you're seeing is correct. For more info, including possible patterns to fix the problem, [check out this SO question](http://stackoverflow.com/questions/750486/javascript-closure-inside-loops-simple-practical-example).

[2016-02-23 17:32] gibson042 opened #934 "Tests: Define setup and tests near each other"
Cf. https://github.com/jquery/qunit/pull/931/files#r53812901

Some of our tests ([logs](https://github.com/jquery/qunit/blob/e97213599c87a505d599386b4b98e25d4b5ee14d/test/logs.html), [regex-filter](https://github.com/jquery/qunit/blob/e97213599c87a505d599386b4b98e25d4b5ee14d/test/regex-filter.html), etc.) utilize what I consider to be a suboptimal pattern:

**test/example.html**
[code]

**test/exa

[2016-02-23 17:38] trentmwillis commented on #934
:+1: seems good to me. I feel like this was probably done once and then just followed as a pattern. I don't see much reason not to merge setup and tests.

[2016-02-24 15:26] #926 closed

[2016-02-25 08:14] jangreis commented on #606
Thanks a lot, both of you. I'm still coming to terms with scoping in JS :-)
I used a for (let ...) loop now and it looks like it all works fine. Thank you for your rapid responses.

[2016-02-25 14:46] #934 closed

[2016-02-26 02:28] trentmwillis opened #937 "Leverage semver for devDependencies"
As I was working on #879, I was wondering if we should consider switching our `devDependencies` to leverage semver rather than pegging explicit version numbers for everything. Taking a look at [David DM shows almost all our dependencies are out of date](https://david-dm.org/jquery/qunit#info=devDependencies&view=list), we could mitigate this by using either `^` or `~` for our dependency versions.

[2016-02-26 06:06] Parakleta opened #938 "Add warning if `!details.result` and `actual === expected` for unknown reason."
In [reporter/html.js#L674-L713](https://github.com/jquery/qunit/blob/65706a1cef576d008b2a714a21cc98a37cf54f29/reporter/html.js#L674-L713) if the test has failed a decision is made about what to actually report.

Prior to 87061fb82bcf9a248c56ccf235b164e989ae2935 the check that `actual != expected` was required to suppress printing the `actual` and difference since there was no `if (!result)` test.

[2016-02-26 09:30] mgol commented on #937
Most of jQuery repos went in the opposite direction. Semver is an idea but reality is that from time to time a package breaks and then we have a problem. IMO it's better to just pin versions and update from time to time. Note that using non-latest version of a dependency isn't a bad thing; maybe they introduced a new feature we don't use, maybe a bug fix that doesn't affect us that much. It's good

[2016-02-26 16:55] trentmwillis commented on #937
Okay, if that's the direction the larger jQuery org has gone then I'm fine with it. I'm definitely familiar with the issues you describe, but on the flip side I also enjoy staying up-to-date to gain passive benefits (e.g., performance and bug fixes) and when things do break it gives you an opportunity to contribute back to your dependencies. Just thought I'd bring it up for discussion.

[2016-02-29 21:05] leobalter commented on #937
The current devDependencies work for what we need and locking their respective versions help us to reproduce the same results anywhere. This approach avoid regressions or releases that won't follow semver.

In another perspective, this project needs more updates on the npm packages, avoiding a lock down on ancient modules.

[2016-03-02 06:21] trentmwillis commented on #938
@Parakleta I'm having a bit of trouble groking what the precise issue you're describing is. Can you provide a reproduction jsfiddle or something similar? Or, at least, what you feel this warning should say?

[2016-03-02 06:38] Parakleta commented on #938
This [fiddle](https://jsfiddle.net/parakleta/37s44y1n/) shows three cases where the test fails but the `expected` and `actual` appear the same according to `QUnit.dump.parse()` and so there is no reporting of why the test failed.  I think I'd just like if there was some message such as for the `maxDepth` case, something like:

"Message: Diff suppressed as the expected and actual results have an eq

[2016-03-02 06:51] trentmwillis commented on #830
I would definitely consider this a bug; due in large part to [this logic](https://github.com/jquery/qunit/blob/master/src/test.js#L48-L49) that fires the `moduleDone` event whenever the current module changes (not necessarily when the module has ended).

We should change that firing condition to check that all tests for the module have run. However, there is currently no way to do that, but it'll

[2016-03-02 06:53] trentmwillis commented on #938
Okay, thanks a lot for the examples! This seems like a reasonable ask, would you mind submitting a PR for it? We might work the exact wording of the error a bit, but I like the idea.

[2016-03-02 18:27] #879 closed

[2016-03-02 18:33] #896 closed

[2016-03-02 18:50] leobalter opened #940 "Development is broken on Windows 10 environment"
The current development is broken on Windows 10 environment.

There are more than one breaking point. The first is on grunt-contrib-concat, where it concat files with the Windows EOL character. JSCS throws a code style error.

[code]

The other error is due to the test-on-node tests on QUnit.stack (`test/main/stack`), where it fails at `QUnit.stack: returns the proper stack line`.

I did a clean i

[2016-03-02 18:51] leobalter commented on #940
As @trentmwillis suggested at #936, it's interesting to use a windows based CI to avoid this in the future.

[2016-03-02 21:02] trentmwillis commented on #940
Bah, auto-closed but there is still one more fix that needs to go in, so reopening.

[2016-03-02 21:25] trentmwillis commented on #940
Fixes have been pushed. Should we use this issue or open a new one to track the possibility of using a Windows-based CI?

[2016-03-02 21:26] leobalter opened #943 "Use a windows based CI"
Ref #940

cc @trentmwillis

[2016-03-02 21:27] leobalter commented on #940
It's better if we keep track of it on another issue (#943), as it is not critical or urgent as the others already addressed here.

Thanks!

[2016-03-02 21:27] #940 closed

[2016-03-02 21:34] trentmwillis commented on #943
A quick search for ["windows ci"](https://www.google.com/#q=windows+ci), doesn't yield a lot of promising results. I'm familiar with using [AppVeyor](https://www.appveyor.com/) and know that the Ember-CLI project also uses it. It is also quite similar to Travis and is easy to set up, so this may be the best option unless anyone has another recommendation.

[2016-03-02 21:38] leobalter commented on #943
I am ++ to use AppVeyor.

[2016-03-02 22:30] trentmwillis commented on #943
I'll look into setting it up sometime soon. What scripts should we run? I'm thinking we can just do `npm test`, I don't see much reason to run coveralls and browserstack in both CIs.

[2016-03-02 22:54] leobalter commented on #943
npm test is the one we should care about.

[2016-03-03 22:42] trentmwillis opened #947 "Split tests for parallelization"
Recently, I've seen a lot of interest in and discussion on running [JS tests in parallel](http://google.com/#q=parallel+tests+js). Most of these rely on faking concurrency through async behavior, while that is definitely an interesting approach I am not convinced it is the proper solution for browser-based tests that often rely on the `document` and other global/shared state. That said, I think fi

[2016-03-04 00:52] leobalter commented on #947
This is very interesting but at the same time it looks it accounts for mostly for Browsers only. I would like to see if it's possible to extend it to node environments, using any sort of async instead of browser tabs.

On this idea of browser tabs: is it a bad to use WebWorkers? With the next major version advent (2.0) we will be able to limit our browser support which will have most of them suppo

[2016-03-04 01:01] trentmwillis commented on #947
It is definitely targeted at browsers, though it could be used in other environments. Since the core concept is just to split tests, you could theoretically do that in different processes of any sort, not just browsers (though there may be better solutions in those cases).

I've considered WebWorkers, the primary issue there, however, is they have no DOM access (amongst other things).

I could see

[2016-03-04 15:38] gibson042 commented on #947
I think the worker model is a good one to shoot for, implementation agnostic with respect to Web Worker or setTimeout or sibling window or iframe window or Node.js child process or whatever. The single shared DOM as common test fixture is holding QUnit back, and while I don't see it going away, we can and should enable suites that abandon it to gain the commensurate performance benefits.

To that

[2016-03-04 15:46] #943 closed

[2016-03-04 16:24] leobalter commented on #947
This window/iframe parallelization is probably already covered on [qunit-composite](https://github.com/JamesMGreene/qunit-composite). Maybe for tests that needs the DOM API we might end up with something similar. I am not sure, but maybe ember-cli projects also run different test htmls in parallel as well?

[2016-03-05 18:44] gibson042 commented on #947
The core of it maybe, but the worker model I want is generic and inherently self-balancing, rather than manually pre-partitioned.

[2016-03-06 20:19] trentmwillis commented on #787
Is this feature still wanted? If so, I volunteer to do the work. I'd very much like to see this as my primary project at work would use it.

[2016-03-06 23:34] leobalter commented on #787
yes, it would be great to have this feature.

[2016-03-07 21:18] #915 closed

[2016-03-09 09:53] sneakyfildy commented on #807
this is dirty, but it works, so, who's in charge to fix that? Which framework?

[2016-03-09 14:30] leobalter commented on #807
@sneakyfildy if you read the old comments this might be fixed at the https://github.com/karma-runner/karma-qunit.

If you are asking how to solve implementing the dirty fix, is probably whoever is using it while the karma-qunit adapter is not fixed.

Meanwhile, remember these are all open source projects, mostly maintained by developers using their free time. Don't be mean and demand stuff to get

[2016-03-09 14:48] nikolas commented on #807
@sneakyfildy I think this fix belongs in the karma-qunit documentation.

[2016-03-09 16:45] sneakyfildy commented on #807
@leobalter I'm asking just to get the info, where to start digging/debugging :) There's a whole bunch of dependencies, and I've tried to put "latest" into all package,json project entries, which didn't help. The more interesting is the fact that other projects with same setup (require+grunt+karma) work well, there might be slight difference in structure and I am sure that leaving the fix as "put o

[2016-03-09 16:50] sneakyfildy commented on #807
@leobalter I'm asking just to get the info, where I can understand the fix better, because I have other project with similar setup, which work without it. I'm not demanding anything.

[2016-03-09 17:06] nikolas commented on #807
yeah i didn't interpret any hostility in your original message. and asking direct questions like yours is the best way to get things done.. no worries.

[2016-03-09 18:15] leobalter commented on #807
I'm sorry I misinterpreted your message.

[2016-03-09 18:36] Arkni opened #951 "Suggestion [HTMLReporter]: make it possible to pass comma separated modules to `module` param"
Hi all,

I wonder if it's possible to specify a comma separated names, instead of specifying one module to run, like so:
[code]

or
[code]

Thanks :)

[2016-03-09 18:58] trentmwillis commented on #951
You could accomplish this using the recently introduced [regex filtering](https://github.com/jquery/qunit/commit/e97213599c87a505d599386b4b98e25d4b5ee14d):

[code]

We should probably add documentation for that feature...will try to do that this week.

[2016-03-09 19:29] Arkni commented on #951
Please correct me if I'm wrong.
So if I'm using a filter like: `filter=core`, this will run all the tests that are under the module `core`, or also the tests that have `core` in the name.

From the commit you linked, this only available starting from `v1.21.0`.

I appreciate that :)

[2016-03-09 21:32] Arkni commented on #951
Also, the config option `moduleFilter` doesn't seem to work in latest releases.
**Simple code:**
[code]

**JSfiddle:** https://jsfiddle.net/Arkni/tg6pzL4a/

[2016-03-12 07:26] trentmwillis commented on #947
---

Not sure I completely follow this "worker model" you're thinking of. Would this simply amount to scheduling the tests in worker groups? The "worker" which then handles that group is non-specific

[2016-03-12 13:20] gibson042 commented on #947
Yes. Once we have it in place, non-browser parallelism (or thread-leveraging, or tab-distributed, or …) is just a matter of implementing the appropriate workers.

[2016-03-12 15:42] Arkni commented on #951
I tested the `filter` option , even though it's not what I'm after. But I can live with that.
Feel free to close this issue if you see it as resolved. But please notice the issue I mentioned in my previous comment (https://github.com/jquery/qunit/issues/951#issuecomment-194515024).

[2016-03-12 18:30] trentmwillis commented on #951
@leobalter can you give more insight into removing `config.moduleFilter`? Seems like it was intentional. If so, we should update docs. Also, how would someone now programmatically set the module filter?

@Arkni I can understand your desire for a multi-module filter. I think the primary concern I have is introducing too many ways for users to filter their tests. Additionally, the current module fil

[2016-03-12 18:48] trentmwillis commented on #947
I think this would make sense for a lot of use cases. However, I think any use case involving DOM would require the iframe approach (which may not necessarily be a bad thing). I can't think of a good solution for allowing QUnit to communicate across multiple tabs or browser instances.

That said, my primary concern with this approach is determinism. Since we won't really have control over the orde

[2016-03-12 20:03] Arkni commented on #951
Thank you for your effort :)

I thought of that too. One solution would be styling the multiple select or replace it with a list of checkboxs the same way done in [`bootstrap-multiselect`](http://davidstutz.github.io/bootstrap-multiselect/) or a list of tags like in [`Select2`](https://select2.github.io/examples.html), for example. But this requires some additional work just to make it functional.

[2016-03-12 23:47] gibson042 commented on #947
Rare indeed is the test that requires a complete DOM as opposed to a container div, but any such examples are free to forgo parallelism, implement synchronization (e.g., a document-level semaphore), or utilize multiple windows as you suggest.

`postMessage` is the obvious choice, but this has already been solved in qunit-composite.

 Right, opting in to parallel execution requires more discipline

[2016-03-14 23:21] Arkni commented on #951
OK, after evaluating #952, here is what I came up with:
* If not possible for a user to know the hash of a module name, then what's the benefit for the user to use that config, I mean programmatically without interacting with the HTML reporter.
* As a solution of the first point, you can export the hashing method as utility, so the user can use it to hash the module names that he want to run.

@tr

[2016-03-15 01:44] trentmwillis commented on #951
From that same PR:

So the intention is that we will have some UI changes that will expose the `moduleId` in some way, it'll just be added in a further iteration. Given my earlier question ("how would we represent multiple modules in that sort of UI?"), I imagine this will have some discussion around it, so I will open a separate issue to track that feature.

[2016-03-15 01:55] trentmwillis opened #953 "Update UI to allow multiple test/module selection"
As discussed in #951 and #952, it would be beneficial to have a better interface that allows for filtering multiple modules or tests. While this is nice to support those particular features, it would also be beneficial to take this as a chance to address some pain points of working with large test suites. In general, having a dropdown that is thousands of items long is not very useful.

In general

[2016-03-15 12:59] Arkni commented on #951
Thanks for pointing that :)

[2016-03-15 14:24] leobalter commented on #951
I need to check on the history to give you the right answer.

++ for that. It's not simple or easy to say how it's gonna be. The new issue will help us discussing the best way to do it.

[2016-03-15 14:39] #951 closed

[2016-03-15 15:35] gibson042 opened #954 "Document and prefer multiply-specified URL parameters over comma-separated"
Ref gh-951

`QUnit.urlParams` already stores repeated URL parameters in arrays: https://github.com/jquery/qunit/blob/0f9ae3443a0fc78d96baa2eb86f90b0cba9264b5/src/core/utilities.js#L115
For consistency with `QUnit.config` and to preclude ambiguous parsing, we should prefer that method over comma-separated values for specifying composite parameters (e.g., `?moduleId=720ab266&moduleId=0af5a573` inste

[2016-03-15 16:05] trentmwillis commented on #954
I was unaware of the auto-concatenating of repeated params. I agree we should standardize on a single format. However, I'm not a huge fan of the first approach due to verbosity, but I guess it makes more sense than attempting to figure out if a comma is meant as a separator or if it is just part of the value.

[2016-03-15 16:39] gibson042 opened #955 "Confine urlParams references to browser-specific files"
`urlParams` is obviously intended for browser utilization, but we have some references to it elsewhere. Most pressing is [test.js:Test#valid](https://github.com/jquery/qunit/blob/e47a7c3db1572387e62846e2e4f39acf7db528f2/src/test.js#L366) (which should be using a `QUnit.config` property), but I'd also like to see [`getUrlParams`](https://github.com/jquery/qunit/blob/e47a7c3db1572387e62846e2e4f39acf

[2016-03-15 16:45] gibson042 opened #956 "Reintroduce QUnit.config.module or QUnit.config.moduleFilter"
As noted in https://github.com/jquery/qunit/issues/951#issuecomment-194515024 , both `QUnit.config.module` and `QUnit.config.moduleFilter` were removed by 168b048c682a2c91d66bba8963fd4aad00b8c22e (gh-691) but remain documented as [`moduleFilter`](http://api.qunitjs.com/QUnit.config/). However, it is not appropriate for [deep library code](https://github.com/jquery/qunit/blob/e47a7c3db1572387e62846

[2016-03-15 17:04] leobalter commented on #954
The changes for gh-951 are not released yet, do you want me to revert until we fix it? If we fix it soon we don't need to mind on any breaking change (or reverting commits).

[2016-03-15 17:09] gibson042 commented on #954
No, I wouldn't revert because e47a7c3db1572387e62846e2e4f39acf7db528f2 just carried forward the already-present pattern of [`testId`](https://github.com/jquery/qunit/commit/e47a7c3db1572387e62846e2e4f39acf7db528f2#diff-217941a76651434529372f12f6de3cbe) (and we don't have any documentation claiming support for comma-separated values, just code).

[2016-03-16 04:40] trentmwillis commented on #956
As mentioned in the documentation issue, I'm not sure we actually want to reintroduce `module`/`moduleFilter` now that we have `moduleId`. Rather, I think we should remove `module` from the `urlParams` and replace it's functionality with that provided by `moduleId`. However, this would require some reworking of the current UI (mainly updating the dropdown values to be the module ids instead of nam

[2016-03-16 04:43] gibson042 commented on #956
That would definitely limit the constructibility of QUnit URLs. I _frequently_ do single-module runs for jQuery core (e.g., "https://localhost:8080/test/?module=selector").

[2016-03-16 04:59] trentmwillis commented on #956
Is there much advantage to using `?module=selector` instead of `?filter=selector`? I know that the latter has the potential to match other tests, but since you have to specify the exact module name for the former to work, I feel like doing the same for `filter` would yield identical results in many (if not most) cases.

[2016-03-16 05:33] gibson042 commented on #956
I believe there is. For example, https://github.com/jquery/jquery/blob/master/build/tasks/testswarm.js#L32-L38 uses the parameter to orchestrate continuous integration, which is possible because it accepts values that were defined in the very same codebase and therefore knowable in advance. `filter` is too broad when what's desired is a hard partition along module boundaries.

[2016-03-16 11:42] mgol opened #958 "Update browserstack-runner"
QUnit uses an obsolete browserstack-runner version that still uses the 3rd version of the API. BrowserStack has been requesting all jQuery teams to stop using older API versions so we need to do the upgrade ASAP.

[2016-03-16 13:16] #958 closed

[2016-03-16 15:55] trentmwillis commented on #956
Ah, okay. I think I see the use case better now. In that case, what is the expected behavior from `?module=selector&moduleId=1234567`? Would `module` take precedence? Or will they both be used?

[2016-03-16 16:12] Arkni commented on #956
I think it should run one module if `moduleId` is the same as the hash of `module`, and run the two, otherwise. In other words, the union of the two (+ removing duplicated modules).

[2016-03-16 16:41] gibson042 commented on #956
[Current behavior](https://github.com/jquery/qunit/blob/e47a7c3db1572387e62846e2e4f39acf7db528f2/src/test.js#L362-L407), which I wouldn't change without careful consideration, is that any test passing _all_ filters (`moduleId`; `testId`; `module`; `filter`) gets to run.

[2016-03-16 16:52] trentmwillis commented on #956
Seems legit, let's do it

[2016-03-16 17:14] gibson042 commented on #956
That still leaves a naming question. The URL parameter is and will likely remain `module`. I believe the `QUnit.config` property should be as well, because AFAICT we never actually released a version in which it was called `moduleFilter` (both the 7409c02813c35b7bd5713fc8650489b0e9049729 rename and the 168b048c682a2c91d66bba8963fd4aad00b8c22e removal debuted in 1.16.0). Any objections?

[2016-03-16 17:34] #954 closed

[2016-03-16 19:35] trentmwillis commented on #956
Sounds good to me. It's also consistent with the 1:1 nature of most other params.

[2016-03-17 00:23] mlato-yahoo commented on #953
Based on those requirements I've drafted this simple multi-selector.

![multi-select-mock](https://cloud.githubusercontent.com/assets/15200965/13832492/e6cd9f62-eb99-11e5-8d3c-cae53c3a48d1.png)

Features:
* Multi-select window with checkboxes and scrolling.
* Search box for filtering by module or test name.
* "Submit" button to run selected tests or modules.

Other things that we need to consider:

[2016-03-17 01:22] trentmwillis commented on #953
I think this is a good start.

I have three ideas on how to solve this:

1. Enforce some naming convention (e.g., `<group-name> | <module-name>`)
2. Set a configurable "separator" that then denotes when you're entering a new group (e.g., `QUnit.config.groupSeparator = '|';`). This could make it easier to support nested groups if needed.
3. Introduce metadata into a `module` that would make groupin

[2016-03-18 05:45] gibson042 opened #964 "Remove sessionStorage interactions from HTML Reporter"
The HTML Reporter is largely an independent subcomponent, but as long as it interacts with `sessionStorage`, it must remain synchronized with `Test#queue` (which needs the ability to [prioritize previously failed tests](https://github.com/jquery/qunit/blob/e47a7c3db1572387e62846e2e4f39acf7db528f2/src/test.js#L268-L270)). However, it does very little with `sessionStorage`:
* test start: [display al

[2016-03-18 07:34] gibson042 commented on #953
2. Set a configurable "separator" that then denotes when you're entering a new group (e.g., `QUnit.config.groupSeparator = '|';`). This could make it easier to support nested groups if needed.
3. Introduce metadata into a `module` that would make grouping declarative.

We already have number 3 in the form of [nested modules](https://github.com/jquery/qunit/commit/7be1d6c38cac4370bafdb17b10f0f4dee5

[2016-03-18 18:04] trentmwillis commented on #955
So would it make sense to introduce something like `reporter/url-params.js`? This would keep that functionality confined to the browser and give a clear separation.

What should be the resolution here? I tend to think inline JS values would trump the URL params.

[2016-03-18 18:10] trentmwillis commented on #937
Marking this as closed, but glad we now have some public documentation for our approach here.

[2016-03-18 18:10] #937 closed

[2016-03-21 00:41] #956 closed

[2016-03-21 15:41] #938 closed

[2016-03-22 16:35] #824 closed

[2016-03-24 02:53] fnando opened #970 "Export AMD with name"
Right now QUnit exports to AMD without specifying a name. When you transpile your code using Babel, and then try to load it with Almond, it fails because no name has been specified.

I was able to workaround this issue by manually exporting the module as the following:

[code]

Is it possible to change QUnit's definition to explicitly set the exporting name?

[2016-03-24 21:29] mlato-yahoo commented on #953
I've made some progress on the module multi-selector

![multi-select-demo](https://cloud.githubusercontent.com/assets/15200965/14031788/bea08d82-f1cb-11e5-8222-97285144ef3f.png)

Check out the code here:
https://github.com/jquery/qunit/pull/973

Known problems:
* The dropdown doesn't align perfectly when using Firefox.

Possible issues:
* Not tested with IE (I used the IE 7.0 user agent in Safari,

[2016-03-24 21:33] leobalter commented on #953
Here is you getting me on my virtual machines to test this :P

I really want to release the next major version so this (testing on IE6+) won't be a problem anymore.

[2016-03-25 17:54] #955 closed

[2016-03-25 20:04] gibson042 opened #974 "Stop defining a default QUnit.reset"
Since we're deprecating `QUnit.reset`, we should stop [relying on it](https://github.com/jquery/qunit/blob/f13038f8530da11a4c3793f35ffe4d4e1d0531a2/src/test.js#L228-L231). We could replicate the behavior almost perfectly by automatically registering a `testDone` callback that includes the [current logic](https://github.com/jquery/qunit/blob/f13038f8530da11a4c3793f35ffe4d4e1d0531a2/src/test.js#L448

[2016-03-25 20:13] leobalter opened #975 "Next QUnit is 2.0"
Hello everyone and specially @jquery/qunit team!

This is the mark to say 2.0 is the next version, except if we need some patch version to fix a bug on QUnit 1.23.0.

That means we need to hold any new features for now and start working removing all the deprecated parts.

The current PRs to merge are only #971 and #919, the others will have to wait, I promise it won't be long.

[2016-03-25 20:54] trentmwillis commented on #975
I'll rebase #919 sometime this weekend so we can merge it

[2016-03-26 19:52] gibson042 opened #977 "Allow multiple before/beforeEach/after/afterEach"
It's inconsistent that every callback passed to `QUnit.test` is preserved, but `beforeEach` and `afterEach` overwrite preexisting values: https://jsfiddle.net/k9af94x7/

We should let the module hooks queue just like the tests do.

**EDIT**: …including `before` and `after`.

[2016-03-26 20:33] gibson042 opened #978 "Make module-contextual module/test/etc. functions"
(this is a restatement of https://github.com/jquery/qunit/pull/670#discussion_r26321413 , which itself referenced a discussion from https://github.com/jquery/qunit/pull/670#issuecomment-78513676 )

7be1d6c38cac4370bafdb17b10f0f4dee576bd12 introduced the `QUnit.module( name, callback )` signature, which immediately invokes a callback to allow for definition of nested modules. However, doing so requ

[2016-03-26 22:23] trentmwillis commented on #977
Since `test` is a function of the `QUnit` global while `beforeEach` / `afterEach` are functions of the local `hooks` object I, personally, don't find it that inconsistent, but acknowledge how similar signatures could lead one to believe they are.

That said, is there a use case for needing the hooks to queue? Given that there is no equivalent queuing for non-callback modules, I am hesitant to want

[2016-03-27 00:57] trentmwillis commented on #975
Also, what about #918? Unless I missed something, seems like we should get those warnings into a release.

[2016-03-27 01:14] trentmwillis commented on #974
I'm assuming we favor this approach since it would take the reporter-centric logic out of core. Otherwise, we could simply keep the function as an internal one. Regardless, instead of using `testDone`, we could register it as a `testStart` / `moduleStart` callback, which  probably increase logic a bit but would give us the results we currently have.

[2016-03-27 02:19] gibson042 commented on #977
Exactly. Further, the global-context `test` is likely [on its way out](https://github.com/jquery/qunit/issues/978), which will further emphasize the similarity.

I can't think of a pressing case, but module nesting already allows for use of multiple hooks. And I'm not too worried about _non_-callback modules because a) the limitation is inherent to the `{ [name]: fn }` structure, and b) I'm trying

[2016-03-27 02:42] gibson042 commented on #974
There are a few edge case differences either way (e.g., post-suite DOM state, test duration); the question is whether they matter. I'm of the opinion that they don't, but even so would still prefer your `testStart` approach to my `testDone` suggestion.

[2016-03-27 05:01] leobalter commented on #975
I talked to @raphamorim on a private channel and we will meet in person
next week. Applying the warning feature to deprecated api revealed more
complex than planned and that PR became a rabbit hole.

We will still have deprecations after 2.0 pre-3.0 and we may still keep
QUnit.warning as a feature for the good on the future.

On Saturday, March 26, 2016, Trent Willis <notifications@github.com> wro

[2016-03-27 05:19] leobalter commented on #977
I am not a good supporter of nested tests, different than nested modules.

Said that, I like how our api design works with es6 modules bindings and
destructuring bindings:

[code]

(Typed on my phone, sorry if the code shows up as a mess)

This is our current api, and I like to explore it on this way.

If this convo ends up on ditching out the hooks object argument from
module, we could use the re

[2016-03-27 17:06] gibson042 commented on #977
I like both of your code examples, but they don't really speak to this issue. My point is that `beforeEach` and `afterEach` _appear_ analogous to `test`, but the analogy breaks down with multiple invocation (the former replace, the latter appends). So we should either rename them to setters, or make them append like `test` does.

I'm in favor of the behavior generalization because it's backwards c

[2016-04-10 17:10] platinumazure commented on #655
Is `QUnit.start()` still supported for restarting tests after an error, where async callbacks might be out of scope? (See [test.js](https://github.com/jquery/qunit/blob/f13038f8530da11a4c3793f35ffe4d4e1d0531a2/src/test.js#L121-123) for an example)

[2016-04-11 13:57] leobalter commented on #655
@platinumazure that's a good question. I'll keep this in mind and have tests for what ever way it will work. Makes sense to keep this behavior.

[2016-04-11 15:30] platinumazure commented on #655
For what it's worth, I'd be okay with the method being deprecated and a new one being created, if that makes things make more sense semantically. I just need the ability for error handlers to restart tests under certain circumstances.

[2016-04-12 17:56] leobalter commented on #655
@platinumazure I agree, but that would require introducing a new method (maybe `QUnit.run`) and than deprecate `QUnit.start`. That would have `QUnit.start` being removed on 3.x as it's too late to introduce a new feature for 2.0.

[2016-04-12 18:01] leobalter commented on #816
@platinumazure what's the current status on this one? We did some changes on our RequireJS since last year and that might be slightly better to handle now.

[2016-04-13 17:20] jwilkinson opened #982 "update breaks Uglify2 of RequireJS"
Recently updated
qunit#1.23.1 source/bower_components/qunit

now

[code]

[2016-04-13 17:23] leobalter commented on #982
why is this using `qunit/reporter/html.js`? It is supposed to use distro version of qunit.js, it's a single file.

[2016-04-13 18:02] jwilkinson commented on #982
Sorry, I am not sure, this may be an issue with Uglify2 but I started here
first as it was the package that was updated then caused a break.

On Wed, Apr 13, 2016 at 1:23 PM, Leo Balter <notifications@github.com>
wrote:

[2016-04-13 18:18] leobalter opened #983 "Handle QUnit overloading"
As reported on twitter by @fnando, QUnit silently fails if it's loaded twice or more in a single suite.

We may investigate how to better handle this, failing or not, it's nice to make it clear.

[2016-04-13 18:19] fnando commented on #983
To be more specific, it doesn't failure, but it overrides any define hook on the previous instance silently. The ideal way of dealing with this would either using existing instance or raise an exception saying that only one instance can be defined.

[2016-04-14 03:05] gibson042 opened #984 "Confirm proper async isolation"
https://github.com/jquery/qunit/pull/976#discussion_r59634666 suggests that some state may be leaking.

[2016-04-17 04:33] trentmwillis commented on #983
I'm 👍  on this idea. Unless there is a valid use case for having the library defined more than once, I feel it makes the most sense to alert users to the fact they're duplicating dependencies.

[2016-04-17 04:39] trentmwillis commented on #982
@jwilkinson how are you including QUnit in your project/build? The error seems accurate on the Uglify end, but as @leobalter pointed out above, the actual distros of QUnit don't have individual files such as `reporter/html.js`.

[2016-04-18 16:09] #356 closed

[2016-04-18 16:09] #500 closed

[2016-04-18 16:09] #563 closed

[2016-04-18 16:09] #655 closed

[2016-04-18 16:09] #656 closed

[2016-04-18 16:09] #657 closed

[2016-04-18 16:09] #501 closed

[2016-04-18 16:26] #893 closed

[2016-04-18 16:54] jzaefferer commented on #970
Can you provide a reduced test case? The description by itself isn't quite enough. The changes in #971 aren't either.

What I'm wondering about: Why are you loading QUnit with Almond, while, as far as I can tell, not using r.js (the optimizer)?

[2016-04-18 17:16] leobalter commented on #975
A few missing cases at https://github.com/jquery/qunit/milestones/v2.0, but we are close.

[2016-04-18 18:47] jzaefferer commented on #881
Is this still valid?

[2016-04-18 18:53] leobalter commented on #881
not landing on 2.0 but useful to guide the Warnings API as the request is to get proper deprecation warning messages on the reporter, not only an exception pushing a failure, even if it's well handled by QUnit.

[2016-04-18 21:12] jzaefferer commented on #970
Since all the discussion happened in #971, closing this with the same reason.

[2016-04-18 21:12] #970 closed

[2016-04-18 22:29] leobalter commented on #953
Does #973 fixes this or should it still be open for selecting multiple tests?

[2016-04-18 22:32] trentmwillis commented on #953
I'll review it later today and update this issue.

[2016-04-18 23:15] leobalter commented on #660
I was able to remove it. Patch is on the way

[2016-04-19 05:25] trentmwillis commented on #953
Took a look at #973 and I think it's a great start. I updated the original post to reflect the new features.

The only missing feature that would potentially be beneficial is the ability to select multiple tests from the UI. You can select a single test to re-run and you can select single or multiple modules to run, but there is no way to select multiple tests to run without manually entering them

[2016-04-19 15:31] #453 closed

[2016-04-19 15:31] #604 closed

[2016-04-19 15:31] #660 closed

[2016-04-19 16:29] leobalter commented on #975
2.0.0-rc1 is out! Grab your friends to test it everywhere!

yay!

[2016-04-19 16:29] #975 closed

[2016-04-19 16:36] leobalter opened #986 "Deprecate assert.push"
Please, see the comments below.

[2016-04-19 20:40] #982 closed

[2016-04-19 21:37] danielmiester opened #987 "[integration issue?] Tests called twice"
Context: I'm trying to integrate QUnit into the Service Now platform's server-side(Antiqudated Rhino). I've got it mostly working, but my test suite seems to be called twice, or not at all, or I get a "start called outside of a test, when already started Exception". depending on the order of my tests, `start()`, `load()` and what i've set `autostart` and `autorun` to
I'm getting frustrated.

Here'

[2016-04-19 21:51] danielmiester commented on #987
ok, I've figured it out through brute force trial an error.
the correct sequence is:
1. Load QUnit
2. Set Callbacks
3. Execute test code (It is just registering a series of tests, not actually executing them, yet.)
4. Call `QUnit.load()`
5. Set the following config:
    QUnit.config.autostart=false;
    QUnit.config.autorun=false;
    QUnit.config.blocking=false;
    QUnit.config.updateRate = 0;
6

[2016-04-19 22:01] gibson042 opened #988 "Module picker is broken"
The multi-select picker introduced in 0780127c7f64eed14596afb0b3873b0dc6a389ef provides no mechanism for committing a selection, and suffers some on styling and accessibility. I'd like to fix it before 2.0.

[2016-04-20 01:35] trentmwillis commented on #988
Styling seemed okay to me, but I did note some other issues as you did as well:

* Accessibility could be improved
* Shouldn't have to hit "go" in order to commit a selection (not intuitive)
* After closing the dropdown, there should be some indication of what has been selected
* After closing the dropdown, the previous search/filter should clear
* There should be some indication that the thing is

[2016-04-20 07:36] gibson042 commented on #974
This wasn't resolved by 0baf467d56735da6de22c377e991ec799460278a, and was in fact made worse since there's no longer a way to prevent the behavior (which was previously as easy as `QUnit.reset = function(){}`). I'm not in favor of becoming more magical.

[2016-04-20 13:03] platinumazure commented on #816
@leobalter No meaningful updates at this time. This has become less of an issue for us since we were able to use require.in error to trap most errors. I still think this could be useful in general but I haven't had the time to fulfill your (reasonable) requirements around proving that this is a real issue.

If you like, you can close this and I can reopen when I have something to add to the discus

[2016-04-20 13:08] platinumazure commented on #987
I usually do it like this when I know I have tests I need to load asynchronously:

1. Pull in QUnit, immediately set `QUnit.config.autostart` to false
1. Set other necessary config options
1. Load the tests themselves however you need to
1. Call `QUnit.start()`

[2016-04-20 14:51] leobalter commented on #974
My bad I misunderstood this issue.

We can still isolate the operation for QUnit.reset, but should we keep it exposed to the API?

[2016-04-20 17:11] gibson042 commented on #974
It seems to me that legacy compatibility motivates us to automatically reset the DOM at test boundaries, even though such functionality is arguably more appropriate in a user-defined callback, e.g. `testStart`. But it should always be _possible_ to correct the inverted default and prevent QUnit from doing anything. As of 0baf467d56735da6de22c377e991ec799460278a, the only way to do so is by removin

[2016-04-20 18:07] platinumazure commented on #604
If anyone wants this functionality (in a convenient way, without having to write a comparison function), the best way to handle that is to write a custom assertion. Here is one I have written:

[code]

[2016-04-20 18:56] platinumazure opened #990 "How should global error handlers resume the test runner in 2.0?"
We're using QUnit and RequireJS. We've defined a `require.onError` handler as follows:

[code]

This is heavily inspired by how the global error handler used to handle these issues. However, `QUnit.start()` itself now throws an error (in 2.0.0-rc1), so I need a new way to resume the test runner. What is the best way to do that?

[2016-04-20 19:08] platinumazure commented on #990
For what it's worth, I would be okay with a new API, maybe something like `Test#pushFailureAndResume()`, which couples the semaphore decrement with the error being pushed. That way people can only use it to add a global failure, rather than skirting the `assert.async()` mechanism.

[2016-04-20 19:12] leobalter commented on #990
that's not async control, that's an error control we didn't have QUnit 1.x designed for it. It just worked in a way allowing the leakage from inside and outside a test context.

On the previous version, QUnit.start could be used to control any context of any test from anywhere, even from another test.

This resume method is a feature we never had properly designed on QUnit and we need to understan

[2016-04-20 19:15] platinumazure commented on #990
Fine by me.

For what it's worth, promise-able tests won't work in the RequireJS case because RequireJS does not return a promise, and its callback functions are executed asynchronously (here meaning not on the same call stack). My `require.onError` function is similarly unable to support the injection of a local test context in order to somehow return a promise.

Please let me know if I can provi

[2016-04-20 19:28] platinumazure commented on #990
Oh, you said you wanted to know what causes the blocking state. That's an easy one:

[code]

If the above snippet threw (within the `require` callback), it will not be caught by either the synchronous try/catch or the promise logic.

This is very similar to my other issue, #816. However, I'm currently able to deal with that problem using the `require.onError` code from my first post; with QUnit 2.

[2016-04-20 19:35] leobalter commented on #990
Thanks for providing more info.

On this specific example, I would say the best approach is to not rely on anything from the tests that is outside it's context, if that becomes repetitive you can abstract the require calls to include an error callback, as in:

[code]

[2016-04-20 19:36] platinumazure commented on #990
Hmm... We have one of these on every test in our codebase (thousands of tests). That could be painful. Are we sure there isn't a DRYer way to do this?

[2016-04-20 19:41] leobalter commented on #990
this abstraction could be something like:

[code]

that's not the best looking thing, but I it should work while we don't have anything else to cover this on QUnit.

[2016-04-20 19:44] platinumazure commented on #990
Oh, okay, I got it. You are giving me suggestions for what I can do while we're figuring out the design. Thanks! Sorry for misunderstanding.

Are you interested (not immediately, perhaps, but in the future) in the notion of having QUnit support these global handlers in some way? Or does this strike you as not meriting a place on the roadmap?

[2016-04-20 19:59] leobalter commented on #990
I am! I'm just afraid I don't have the proper bandwidth to do it as soon as I would like.

I believe this deprecation cleanup on 2.0 opens the path for a better async handling and that's totally welcoming for the project.

This issue is great to account for on any work we do on this improvement.

[2016-04-20 20:02] platinumazure commented on #990
Awesome. If it will help to have some proof-of-concept pull requests as APIs are proposed, I am happy to help.

[2016-04-20 20:07] leobalter commented on #990
That would be great!

[2016-04-20 20:10] #988 closed

[2016-04-20 20:15] leobalter commented on #987
I've talked about this on IRC.

This sequence with .load seems wrong, or it should be wrong. The appropriate implementation should be as @platinumazure detailed.

@danielmiester if you can try that sequence, that would help to investigate if there's anything wrong with the api for .autostart + .start.

[2016-04-20 20:17] leobalter commented on #990
I guess the #947 might help solving this as well.

cc @trentmwillis

[2016-04-20 20:26] danielmiester commented on #987
Ok, I've executed in the order specified.
[code]
No signs of QUnit starting the tests.

[2016-04-20 20:32] platinumazure commented on #987
You have a typo:

[code]

Presumably that causes a ReferenceError to be thrown before the tests are even loaded, let alone started.

[2016-04-20 20:34] platinumazure commented on #984
What sort of state might be leaking? Is this something that needs further investigation, or do we already have a good idea where/why this is happening?

[2016-04-20 20:42] danielmiester commented on #987
OOPS!
tried again after fixing the typo: (direct copy-paste from my REPL)
[code]
output: `<bupkis>`

[2016-04-20 20:45] platinumazure commented on #987
Is there any way you could create a runnable demo, maybe on JSFiddler or a similar site?

At this point, I don't see any obvious problems. The next step is probably to run through that code with a debugger and make sure each operation does what it's supposed to. And you could put a breakpoint in the test function itself so that we know if it's even run at all... Sorry, that's all I have at this po

[2016-04-20 20:56] danielmiester commented on #987
if I tweak it a bit, it does work as I expect it to:
[code]
output:
[code]

[2016-04-20 20:57] platinumazure commented on #987
Okay, let's iterate on that.

What happens if you remove `QUnit.load()`? Will that still work?

[2016-04-20 20:59] danielmiester commented on #987
no output

[2016-04-20 21:02] danielmiester commented on #987
@platinumazure want to join me in the jquery-dev irc? speed up this iterating a bit ;)

[2016-04-20 21:07] platinumazure commented on #987
I would but I've run out of ideas now. lol. But I agree this should be in IRC-- I'll try to follow along this evening, hopefully someone else can help. (I was surprised that QUnit.load() was needed to be honest.)

[2016-04-20 21:16] gibson042 commented on #990
@platinumazure: Given that your current strategy _already_ dives into QUnit internals, you can create something analogous by spying on `assert.async`. Note that this is also subject to breakage at any time, but it should be an easy swap for now: https://jsfiddle.net/8kgpzwut/ .

[2016-04-20 21:21] danielmiester commented on #987
Maybe because i'm loading it like it's a node.js module.
Dunno.
I am using a nonstandard Rhino environment. I'm surprise I was able to get it to work with as few modifications as I did. (fix an array accessor that was a reserved word, and rewrite an if statement to call a function instead of wrapping all the code in one parameter)

[2016-04-20 21:40] jzaefferer commented on #868
@apsdehal @platinumazure was there any progress towards merging these tools?

[2016-04-20 21:44] platinumazure commented on #868
No, and I've stopped working on my tool. @apsdehal has made good progress
on his tool. It can be the "official" one, if everyone agrees it is up to
snuff.

Sorry, I just don't have the bandwidth to maintain my migration tool on top
of my other projects right now :cry:
On Apr 20, 2016 4:40 PM, "Jörn Zaefferer" <notifications@github.com> wrote:

@apsdehal <https://github.com/apsdehal> @platinumazure

[2016-04-20 21:47] jzaefferer commented on #868
Alright, thanks for letting us know.

I lost track of the previous discussion (and I'm not sure what might still be relevant). Seems like @apsdehal could maybe add your test cases to this project. Either way, we should link to it in the migration guide.

[2016-04-21 02:34] gibson042 commented on #984
I haven't investigated the why, but the where is in the function returned by `assert.async`—we _should_ be able to pass `test` to `resumeProcessing`, but making that change breaks the test suite. So something is amiss and needs analysis.

[2016-04-21 09:12] jzaefferer commented on #986
Did you mistake `assert.push` for `QUnit.push`?

[2016-04-21 14:11] leobalter commented on #986
_Mea culpa_, this was badly opened/explained. `QUnit.push` is already removed (with the deprecation message).

What I wanted is to remove `assert.push` which rethinking about it I guess we shouldn't do it in 2.0.

Instead, a warning for using this method is welcoming, suggesting `pushResult` should be used instead. It's too early to drop this method as that might cost extra work from any external

[2016-04-21 15:15] jzaefferer commented on #868
See https://github.com/jquery/qunitjs.com/issues/120 for adding the note to the migration guide.

[2016-04-21 15:15] #868 closed

[2016-04-21 22:05] #987 closed

[2016-04-28 06:08] trentmwillis commented on #974
@gibson042 this seems like a reasonable approach to me. I can take a crack at implementing it this weekend, if you don't get to it by then.

[2016-04-30 02:56] platinumazure commented on #990
@gibson042 My apologies, I thought I had thanked you earlier. Thanks for taking the time to put together a fiddle proving the concept- really helps.

[2016-05-06 04:36] Thaina opened #993 "Is it possible to do subtest and display pyramid of test"
I'm not sure it already possible but if it not I would like to request this feature

Such as I want to do some test with multiple users. But before that I would like to test each user and result each one in each block but still in the same scope of the test. Then do the real test

Ability to display subtest in block and layer each as pyramid could be handy

Something like `assert.test(function(sub

[2016-05-06 05:14] trentmwillis commented on #993
I'm not sure I understand the use case. What would be the difference between a sub-test and a single test from a module? Why not simply do the same test in a loop with the different member data?

[2016-05-06 05:35] Thaina commented on #993
@trentmwillis The difference is variable scope and grouping

It's like a comment in reddit which could be subcomment and subsubcomment. That's the main point. To split it in difference module then it cannot reuse variable I got from the previous test (get userIDs properly is also a test that I do assert)

Another use case is to test many items that could be test each one asynchronously. Ability to

[2016-05-06 11:01] rdugue commented on #986
I made a pull request to address this, but I accidentally titled it with the branch wrong issue number.  Apologies... I can resubmit if necessary.

[2016-05-08 13:58] JamesMGreene commented on #993
You could use nested modules (suites): http://api.qunitjs.com/QUnit.module/

[2016-05-09 06:49] Thaina commented on #993
I see, thanks. @JamesMGreene

[2016-05-09 07:04] Thaina commented on #993
@JamesMGreene Now I'm still curious. How order the module got called? If it async Promise then how can I specified which one will go in which module. How can I go back into topmost module?

I think `hooks` should have all function of QUnit and instead of `QUnit.test()` we could use `hooks.test()` and get assert to nest module instead

[2016-05-09 14:55] trentmwillis commented on #993
@Thaina the modules/tests get called in the order in which they are defined. Tests and hooks (e.g., `beforeEach` / `afterEach`) have built in support for handling async behavior, so long as you return a Promise. See the [API docs here for more info and an example](https://api.qunitjs.com/QUnit.test/).

[2016-05-16 15:58] #983 closed

[2016-05-16 23:47] bantic opened #1000 "urlParams does not decode "+" character in query params"
The [`getUrlParams` function](https://github.com/jquery/qunit/blob/f13038f8530da11a4c3793f35ffe4d4e1d0531a2/reporter/urlparams.js#L69) does not decode the plus character (`+`) in query parameters, which can cause QUnit to fail to match modules or test names when the `module` or `filter` query parameters include spaces encoded as plus characters.

For example, if a test named "my test" exists, and

[2016-05-17 00:30] rwjblue commented on #1000
@trentmwillis - FWIW, this is the result of the bug/issue that I pestered you about in slack a week or two ago.  Many thanks to @bantic for tracking down what is going on (and his continued efforts to fix many encoding/decoding related issues in Ember's route-recognizer).

[2016-05-17 01:15] trentmwillis commented on #1000
@rwjblue, I thought this might be related to that. Seems like a reasonable ask to support `%20` and `+` as space-encodings for params since URIs should support them anyway.

[2016-05-17 13:56] gibson042 commented on #1000
I don't think we need to go to the trouble of complicating `setUrl`, but I approve of more liberal decoding.

[2016-05-17 16:58] #1000 closed

[2016-05-17 17:04] bantic commented on #1000
neat — this is issue number 1000 and it was closed by commit number 1000. :)

[2016-05-17 17:16] leobalter commented on #1000
https://twitter.com/qunitjs/status/732620820049235968

[2016-05-19 19:39] #974 closed

[2016-05-21 05:20] trentmwillis commented on #993
Closing this as the usage of nested modules and Promise handling seems to solve this use case.

[2016-05-21 05:20] #993 closed

[2016-05-26 17:06] trentmwillis commented on #787
I began attempting to implement this and ran into some issues that I think need discussing.

Adding `details.todo` makes sense at the `testDone` /  `log` reporting level, but beyond that it starts to be a little problematic. For instance, consider a module that contains a normal `test` and a `todo` test. When `moduleDone` is logged, it will have failing assertions with no way to distinguish legiti

[2016-05-30 21:47] gibson042 commented on #787
I don't think implementing TODO should require breaking changes to the module callback data, even though those breaking changes may be independently valuable. I still think framing this in the context of expectations is the way to go, and would imagine a module with two tests (one normal with two passing assertions and one TODO with a passing assertion and a failing assertion) to report something

[2016-05-31 13:47] flore77 opened #1004 "Skipped tests runtime should be undefined"
## Problem
While working on the [js-reporter](https://github.com/js-reporters/js-reporters) project I have discovered that also the `runtime` of `skipped tests` is a `Number`.

We on the `js-reporters` think that the `runtime` should be `undefined`, because the test does not run, it is skipped, so it cannot have a runtime.

I looked over the docs about the `runtime` prop on the `testDone` callback

[2016-05-31 17:36] leobalter commented on #1004
I'm not sure how the type is a concern, as the expected value for skipped tests is 0 or close (I hope) and replacing it with undefined would be a breaking change.

Rather than reading the runtime, js-reporters should ignore the value on skipped tests, as it is irrelevant as an undefined.

[2016-05-31 17:55] trentmwillis commented on #1004
I agree with @leobalter the value shouldn't matter too much.

@flore77 could you link to an explanation (or explain yourself), why using `undefined` is preferable over an actual number? In my mind, it makes sense to report a number (even `0`), for more accuracy in understanding what the test suite is doing.

[2016-05-31 17:58] jzaefferer commented on #1004
How about making sure that runtime is always 0 for skipped tests? That should work for js-reporters as well.

[2016-05-31 18:08] leobalter commented on #1004
Works for me. 👍

[2016-05-31 18:14] jzaefferer commented on #1004
And I guess if we set it to 0, we don't really need to add tests for that...

[2016-05-31 18:31] flore77 commented on #1004
@trentmwillis sure. For me it does not make sense, because for a test to have a `runtime`, it should get the chance to `execute`, to run some instructions, but skipped tests are simply skipped, neither the hooks are executed for them. For example Mocha's emitted objects for skipped tests do not have the runtime (actually it is called duration for Mocha)  property at all.

@leobalter, sure js-repor

[2016-05-31 18:34] leobalter opened #1005 "Extend Assert#pushResult to receive a custom diff value"
As requested by @wycatz, it would be good to extend `Assert#pushResult` to receive a custom diff value, where it does not replace the default `QUnit.diff` (still useful for other assertions) but it prints a customized diff value.

Examples:

[code]

If diff is given, QUnit should get its value and ignore calling the default QUnit.diff.

[2016-05-31 18:37] wycats commented on #1005
Straw man:

[code]

It would also be great to have a lower-level interface we could use to specify the differences in a format like this:

[code]

[2016-05-31 18:40] leobalter commented on #1005
That's a bit more complex than my initial proposal but I'm interested on seeing this implemented.

@gibson042 @trentmwillis what do you think?

[2016-05-31 18:47] jzaefferer commented on #1004
@leobalter @trentmwillis considering that the property is indeed undefined for skipped Mocha tests, would you consider adopting that for QUnit as well?